  <%= form_for @location_group do |f| %>
  <%= render 'shared/form_error', :object => @location_group %>   
  <%= hidden_field_tag "location_id", params[:banner]%>
  <%= hidden_field_tag "custom_attr_id", params[:custattrid] %>
  <%= hidden_field_tag "custom_attr_val", params[:custattrval] %>
   <div class="">
     <div class="col-md-3">
        <div class="form-group">
           <label for="locGrpName">Location Group Name</label>
           <%= f.text_field :name , :class=>"form-control"%>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Description</label>
          <%= f.text_area :description, :class => "form-control"%>
        </div>
      </div>
    </div>
    
    <div class="panel-body clear">
    <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="products">
          <div class="innerSection noBdr">
            <div class="subTabs tabbable"> 
              <ul class="nav nav-tabs">
               <li class="active" ><a href="#hier" data-toggle="tab">By Hierarchy & Attributes</a></li>
               <!-- <li><a href="#prodid" data-toggle="tab">By Location ID</a></li> -->
              </ul>
            <div class="btnBrd"></div>
            <div class="tab-content"> 
            <div id="hier" class="tab-pane active tabBrd">
            
            <div class="row clear">       
              <div  class="col-md-3">
                <div class="right-inner-addon search">
                   <i class="glyphicon glyphicon-search"></i>
                   <input type="search"class="form-control" placeholder="Quick search hierarchy & attributes" />
                   <div class="reset"><a href="#">Reset</a></div>
                </div>
                <!-- SO tree -->
              <%= render :partial=> "shared/location_hier_and_attr"%>
              <!-- EO tree -->
          </div>

      <div  class="col-md-9 categories">
         <div class="row">
          <div class="col-md-12">
           <ul class="categoryTab search">
             <li>Category - 1 <span class="icon"></span> </li>
             <li>Sub Category - 1<span class="icon"></span></li>
             <li>Sub Sub Category - 1<span class="icon"></span></li>
           </ul>
          </div>
        </div>
      <div class="categoryContent">
        <table class="table table-bordered categoryTable tablesorter table-striped"  id="locationTable">
          <thead>
            <tr>
              <th>
              <input type="checkbox" id="selectAll">
              </th>
              <th>Location Name</th>
              <th>Location Description</th>
            </tr>
          </thead>
          <tbody>
          <% unless @location_group.new_record? %>
           <% @location_group.lids.each do |k,v|%>
             <tr>
               <td><input type="checkbox" name="storeIdArray[]" class="checkbox" value="<%= k %>" id="<%= k %>"></td>
               <td><%= Store.find_by_store_id(k).description %></td>
               <td><%= Store.find_by_store_id(k).store_pos_id %></td>
             </tr>
           <% end %>
           <% end %>
          </tbody>
        </table>
        <div id ="hiddenDiv" style="display:none;"></div>
        <div class="row worklistTablePaginationHolder">
           <div class=" worklistPagination paginPad">
           <!--  <div class="categoryBtn">
              <button type="submit" class="addNewLocGroup">
                Add a New Location Group
              </button>
              <button type="submit" class="addLoctoContract" id = "addLoc">
                Add to Contract
              </button>
            </div> -->
          </div> 
        </div><!-- EO ROW -->
      </div>
      <div class=" marginTop30">
        <button class="btn btn-default" type="submit" id="lgstrArr">
          <%= @location_group.new_record? ? "Create a New" : "Update" %> Location Group
         </button>
        <button class="btn btn-default" type="button" onclick="window.location='/location_groups'">Cancel</button>
      </div>
      </div>	<!-- right col -->
      <div class="clear"></div>
</div>


</div>

</div>
</div>
</div>
</div>

</div>
</div>
<% end %>