<div class="overlayContent">
 <div class="overlayHeader">
   Create a new Location Group
 </div>
	
 <form action="/contract/add_location_group" method="post" class="" data-remote='true'>
  	<%= hidden_field_tag "location_id", params[:banner]%>
	<%= hidden_field_tag "custom_attr_id", params[:custattrid] %>
	<%= hidden_field_tag "custom_attr_val", params[:custattrval] %>
	<div class="form-group">
	 <label for="locGroupName">Location Group Name</label>
	 <%= text_field_tag :group_name, nil, :class=>"form-control" %>
	</div>
	<div class="form-group">
	 <label for="locGroupDescription">Description</label>
	 <%= text_area_tag :group_description, nil, :class=>"form-control" %>
	</div>
	<div class="form-group">
		<label>Selected Locations</label>
		<table>
		 <tbody id="allLocation2ForContact"></tbody>
	    </table>
	</div>	
	<div class="overlayActions">
	 <button type="button" class="btn btn-default" id="addlocGrpOverlay">Save & Add to Contract</button>
	 <!-- <a href="javascript:;" class="popupCancelLink">Cancel</a> -->
	</div>
</form>
</div>