
	<input type="text" name="column_count" value="<%=@contract_product_attributes.count%>" style="display: none">
	<input type="text" name="product_count" value="<%=@product_array.count%>" style="display: none">
	<table class="tablesorter table-striped priceRuleTble price-rules-table dataTable" >                                      
	   <thead>
	    <tr>
	      <th> Product Name </th>
	      <% @contract_product_attributes.each  do |contract_product_attribute| %>
		      <th> <%=contract_product_attribute["name"]%> </th>
	   	  <% end %>
	    </tr>
	   </thead>
	   <tbody>
	   	<% i = 1000 %>
	    <% @product_array.each  do |product| %>
	   		<tr>
		      <td> <%=product["product_name"]%> <input type="text" name="contract_product_attribute[][product_id]" value="<%=product["product_id"]%>" style="display: none"> </td>
			     <% @contract_product_attributes.each  do |contract_product_attribute| %>	      
				      
				      <% if contract_product_attribute["attribute_type"]=="Number" %>
				      	<td>
				      		 <input type="text" name="contract_product_attribute[][attribute_id]" value="<%=contract_product_attribute["id"]%>" style="display: none">
				      		 <input type="text" id="numerical<%=i%>" class="numerical" name="contract_product_attribute[][value]" value=""> 
				      		 <% i+=1 %>
				        </td>
				      <%elsif contract_product_attribute["attribute_type"]=="String" %>
				      	<td> 
				      		<input type="text" name="contract_product_attribute[][attribute_id]" value="<%=contract_product_attribute["id"]%>" style="display: none">
				      		<input type="text" name="contract_product_attribute[][value]" value=""> 
				      	</td>
				      <%elsif contract_product_attribute["attribute_type"]=="NumberList" || contract_product_attribute["attribute_type"]=="StringList" %>
				      	<td>
				      		<input type="text" name="contract_product_attribute[][attribute_id]" value="<%=contract_product_attribute["id"]%>" style="display: none">
				      		<% values = contract_product_attribute["value"].split(",")%> 
				      		<select name="contract_product_attribute[][value]">
				      			<option value=""> -- select field -- </option>
				      			<%values.each {| val |%> 
				      				<option value="<%=val%>"><%=val%></option>
				      			<% } %>
							</select>
						</td>
				      <%end%>
			   
		   		<% end %>
		    </tr>	
	   	<% end %>                                
	   </tbody>                                      
	 </table>
	 


