<body>
	<!--! BO Previous Notes OVERLAY -->

	<div id="prevNotesDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Note</th>
						<th>Created by user</th>
						<th>Date &amp; Time</th>

					</tr>
				</thead>
				<tbody id= "userNotesTable">

				</tbody>
			</table>

		</div>

	</div>
	<!--! EO Previous Notes OVERLAY -->

	<!--! BO Location Dialog -->

	<div id="locationDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Location Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>L1</td>
						<td>Main Office</td>
					</tr>
					<tr>
						<td>L2</td>
						<td>Estern Office</td>
					</tr>
					<tr>
						<td>L3</td>
						<td>Midwest Office</td>
					</tr>

				</tbody>
			</table>

			<div class="overlayActionsBar">
				<button type="button" class="btn btn-default">
					Close
				</button>
			</div>

		</div>

	</div>
	<!--! EO Location Dialog -->

	<!-- BO TAB CONTENT -->
	<div class="container tab-content tabContentMain">

		<!-- BO CONTRACT TAB -->
		<div id="contract" class="container tab-pane active contractTabBody">

			<div id="breadcrumbSection">
				<ul class="breadcrumb">
					<li>
						<a href="../index.html">Worklist</a>
					<li class="active">
						Contracts Main - <%= @contract_object_view["contract_id"] %>
					</li>
				</ul>
			</div>

			<div class="page-header">
				<h1><img src="../assets/contractDetailsIco.png"/>Contracts Main - <%= @contract_object_view["contract_id"] %></h1>
			</div>

			<div class="subTabs tabbable mainContentTabs">
				<ul class="nav nav-pills">
					<% @contract_object_view["trialArray"].each {|trial| %>
					<%if trial["sequence"] == 0%>
					<li>
						<a href="#mainCopy" data-toggle="tab">Main Copy</a>
					</li>
					<%else%>
					<li>
						<a href="#trial<%= trial["sequence"]%>" data-toggle="tab">Trial #<%= trial["sequence"]%> </a>
					</li>
					<%end%>
					<%} %>

					<li class="pull-right">
						<div class="compareRightBtn">
							<button type="submit" class="btn btn-default" onClick="javascript:window.location.href='/contract/createTrial?contract_id=<%= @contract_object_view["contract_id"] %>'">
								+ Create Trial
							</button>
							&nbsp;
							<button type="submit" class="btn btn-default" onClick="javascript:window.location.href='compareMainTrial.html'" >
								Compare Main &amp; Trials
							</button>
						</div>
					</li>
				</ul>
				<div class="tab-content subTabContent">
					<% @contract_object_view["trialArray"].each {|trial| %>

					<%if trial["sequence"] == 0%>
					<div id="mainCopy" class="tab-pane active">
						<%else%>
						<div id="trial<%= trial["sequence"]%>" class="tab-pane ">
							<%end%>
					<div class="row">
						<div class="col-md-6">
							<!-- <form role="form"  action="/addNote" > -->
							<div class="form-group">
								<label for="addNote" class="col-sm-10 control-label">Add a Note</label>
								<div class="col-md-10">
									<textarea class="form-control" rows="1" id="addNote"></textarea>
									<span class="small" > Last Note: <label for="lastNote" class="small"> </label> </span>
									<div class="btn-group">
										<button class="btn btn-default btn-xs" type="button" id="prevNoteBtn" data-toggle="dropdown" onclick="getAllNote(<%= @contract_object_view["contract_id"] %>)">
											Previous Notes <span class="caret"></span>
										</button>

									</div>
								</div>
								<div class="col-md-2">
									<input class="btn btn-default" onclick="addNote(<%= @contract_object_view["contract_id"] %>)" type="submit" value="Add">
									<!-- <div class="col-md-2"><button type="submit" class="btn btn-default" onclick="addNote()">Add</button>  </div> -->
								</div>
							</div>

						</div>
						<div class="col-md-2"></div>
						<div class="col-md-6 btnAlign">
							<img src="../assets/contractsMainMap.png" height="92" width="400"/>
						</div>

						<div class="clear"></div>
					</div><!-- EO row -->
				
							<div class="contractInfo">
								<!-- BO row1 -->
								<div class="row">
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract #
											</div>
											<label><%= @contract_object_view["contract_id"] %></label>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="grey">
												Contract Description
											</div>
											<label><%= trial["description"] %></label>
										</div>
									</div>
									<div class="col-md-2">
										<button type="submit" class="btn btn-default">
											View Book
										</button>
									</div>

								</div><!-- EO row1 -->

								<!-- BO row2 -->
								<div class="row greyBg">
									<% version=trial["versionArray"][0]%>
									<% tier=version["tierArray"][0]%>
									<% vendor_info=tier["vendor_info"]%>
									<% vendor_name=vendor_info["vendor_name"]%>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Vendor Name
											</div>
											<label><%= vendor_name %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract Start Date
											</div>
											<label><%= trial["startDate"] %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract End Date
											</div>
											<label><%= trial["endDate"] %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Versions
											</div>
											<label><%= trial["numberOfVersions"]%></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Locations
											</div>
											<a href="#" class="locationModal">Midwest</a><label>|</label><a href="#" class="locationModal">South</a><a href="#" class="locationModal">...</a>
										</div>
									</div>

								</div><!-- EO row2 -->

								<!-- BO row3 -->

								<div class="row">

									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Marketing Vehicles
											</div>
											<% trial["versionArray"].each {|version| %>
											<a href="#">V<%= version["sequence"]%>:<%= version["marketing_vehicle_name"]%></a><label>|</label>
											<%} %>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="grey">
												Pricing Vehicles
											</div>
											<a href="#">V1:Progressive</a><label>|</label><a href="#">V2:Amount Off</a><a href="#">...</a>
										</div>
									</div>

								</div><!-- EO row3 -->
								<!--after forcast
								<!-- BO row4
								<div class="row greyBg">
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								SKUs Forecasted
								</div>
								<label>1000</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								SKUs Total
								</div>
								<label>5000</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								Store SKUs Forecasted
								</div>
								<label>500</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								Store SKUs Total
								</div>
								<label>10000</label>
								</div>
								</div>

								</div><!-- EO row4 -->

								<div class="row marginTop10" id="mainPriceVendor">
									<div class="col-md-9">
										<div class="form-group marBtm0">
											<label class="bold">Vendor Funding</label>
										</div>

										<table class="table table-bordered categoryTable wrap">
											<thead>
												<tr>
													<th>Unit Funding</th>
													<th>Lumpsum Funding</th>
													<th>From Date</th>
													<th>To Date</th>

												</tr>
											</thead>
											<tbody>
												<% version["tierArray"].each {|tier| %>
												<tr>
													<td><%= tier["unit_funding"] %></td>
													<td><%= tier["lumpsum_funding"] %></td>
													<td><%= tier["start_date"] %></td>
													<td><%= tier["end_date"] %></td>

												</tr>
												<%} %>
											</tbody>
										</table>
									</div>

								</div>

								<div class="row" id="mainPriceVendor">
									<div class="col-md-9">
										<div class="form-group marBtm0">
											<label class="bold">Contract Attributes</label>
										</div>

										<div class="panel-body infoProdAttrMain">

											<ul class="nav nav-tabs grapTableTabs" role="tablist">
												<li class="active">
													<a href="#infoAttr" data-toggle="tab">Information Attributes</a>
												</li>
												<li>
													<a href="#prodAttr" data-toggle="tab">Product Attributes</a>
												</li>
											</ul>

											<div class="tab-content">
												<!-- BO INFORMATION ATTRIBUTES -->
												<div id="infoAttr" class="tab-pane active infoProdAttrPanel">
													<table class="productAttViewTable infoAttrTable table-striped" >
														<thead>
															
															<tr>
																<th> Attribute </th>
																<th> Value </th>
															</tr>
														</thead>
														<tbody>
															<% @contract_object_view["information_attributes"].each {|information_attributes_info| %>
                                                             <tr>
																<td><%= information_attributes_info["name"] %></td>
																<td><%= information_attributes_info["value"] %></td>
															</tr>
															<%}%>
															
														</tbody>
													</table>

													

												</div><!-- EO INFORMATION ATTRIBUTES -->

												<!-- BO PRODUCTS ATTRIBUTES -->
												<div id="prodAttr" class="tab-pane infoProdAttrPanel">
													<table class="productAttViewTable infoAttrTable table-striped" >
														<thead>
															<tr>
																<th> Product </th>
																<th> Attribute </th>
																<th> Value </th>
															</tr>
														</thead>
														<tbody>
															<% @contract_object_view["product_attributes"].each {|product_attributes_info| %>
															<tr>
																<td><%= product_attributes_info["product_name"] %></td>
																<td><%= product_attributes_info["name"] %></td>
																<td><%= product_attributes_info["value"] %></td>
															</tr>
															<%}%>

														</tbody>
													</table>

												
												</div><!-- EO PRODUCTS ATTRIBUTES -->

											</div>

										</div>
									</div>

								</div>

							</div><!--EO contract row section -->

							<div class="newContractActionBar">
								<button type="button" class="btn btn-default">
									Modify Contract
								</button>
							</div>
						</div>
						<%} %>
					</div>

				</div><!-- EO Sub TAB -->
			</div><!-- EO CONTRACT TAB -->
		</div><!-- EO TAB CONTENT -->
		<div id="hiddenDiv" style="display: none"></div>
		<script>
			$(document).ready(function() {
				/* Common for all Modals */
				$("#prevNotesDialog, #locationDialog").dialog({
					autoOpen : false,
					width : "auto",
					height : "auto"
				});
				$(".locationModal").click(function(e) {
					$("#locationDialog").dialog("open")
				});
				$("#prevNoteBtn").click(function(e) {
					$("#prevNotesDialog").dialog("option", "position", {
						my : "left",
						at : "left",
						of : e,
						offset : "5 70"
					});
					$("#prevNotesDialog").dialog("open")
					var offset = $(this).offset()
					$("#prevNotesDialog").parent().css("top", offset.top - 30 + "px")
				});
				$("#prevNoteBtn").click(function() {
					$(this).find("span").removeClass("caret").addClass("caretdown")
				});
				$(".ui-dialog-titlebar-close").click(function() {
					$("#prevNoteBtn").find("span").removeClass("caretdown").addClass("caret")
				});
				$(".prevBtn").click(function() {
					var i = findActiveTab();
					leftTab.eq(i - 1).addClass("active")
					leftTab.eq(i).removeClass("active")
				});
			});
			function clearFilter(filterOpt) {
				document.getElementById(filterOpt).style.display = "none";
			}
		</script>

</body>

