<%@trial_object = @contract_object["trialArray"].last%>
<%@version_array=@trial_object["versionArray"][0]%> 
<%@tier_array=@version_array["tierArray"]%>

 <!-- BO Compare Trial Dialog-->
 <div id="compareTrialDialog">     
      
        <div class="overlayContent">
        <div class="overlayHeader"> 
             Compare Main Contract with the following trials (select only 2 trials)
          </div> 
          <ul>
          	<li><div class="checkbox"><label><input type="checkbox">Trial #1</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox">Trial #2</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox">Trial #3</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox">Trial #4</label></div></li>
          </ul>
        
         <div class="overlayActions">        
            <button type="button" class="btn btn-default" >Compare</button>
            <a href="javascript:;" class="popupCancelLink">Cancel</a>
         </div>

       
        </div>
                       
    </div>
 
 <!-- EO Compare Trial Dialog-->
    
    <!-- BO TAB CONTENT -->
    <div class="container tab-content tabContentMain">     
      
      <!-- BO CONTRACT TAB --> 
    <div id="contract" class="container tab-pane active contractTabBody">
   		
            <div id="breadcrumbSection">
                <ul class="breadcrumb">
                    <li><a href="#">Worklist</a>
                    <li class="active">Modify Contract - 1101207</li>
                </ul>
            </div>
            
           
            <div class="subTabs tabbable mainContentTabs">
                <ul class="nav nav-pills">
                	<% @contract_object["trialArray"].each {|trial| %>
                		<%if trial["sequence"] == 0%>
                			<li><a href="/contract/contractsMain?contract_id=<%= @contract_object["contract_id"] %>" >Main Copy</a></li>
                     	<%else%>
                     		<%if trial["sequence"] == @trial_object["sequence"]%>
                     			<li class="active"><a href="#trial<%=trial["sequence"]%>" data-toggle="tab">Trial #<%=trial["sequence"]%> </a> </li>
                     		<%else%>
                     			<li><a href="/contract/contractsMain?contract_id=<%= @contract_object["contract_id"] %>" >Trial #<%=trial["sequence"]%> </a> </li>
                     		<%end%> 
                     	<%end%> 
                	<%} %> 	
                    
                     <li class="pull-right"><div class="compareRightBtn"><button type="submit" class="btn btn-default">+ Create Trial</button> &nbsp;<button type="submit" class="btn btn-default" id="compTrialBtn" >Compare Main &amp; Trials</button></div></li>
                </ul>
               <div class="tab-content subTabContent"> 
                    <div id="trial<%=@trial_object["sequence"]%>" class="tab-pane active">
                     	<div class="row">
                          <div class="col-md-6">
                          		<form role="form">
                                  <div class="form-group">
                                    <label for="addNote" class="col-sm-10 control-label">Trial Name</label>
									<div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Tiral Name" value="<%=@trial_object["name"]%>"/>
                                  
                                    </div>
                                    <div class="col-md-2"> </div>                           
                                  </div>
                          		</form>
                          </div>
                          <div class="col-md-1"></div>
                              <div class="col-md-5 btnAlign">
                                <button type="submit" class="btn btn-default overrideBtn">Override Forecast</button>  
                                <button type="submit" class="btn btn-default" onClick="window.location='modifyContractAttr.html';">Contract Attributes</button> 
                                <button type="submit" class="btn btn-default">Notes</button>
                              </div>
                        </div>
                        
                        
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h3 class="panel-title">
                                 Core Contract Info
                              </h3>
                           </div>
                           <div class="panel-body">
                              <!-- tabbable left -->
                                  <div class="col-md-2"> <!-- required for floating -->
                                  <!-- Nav tabs -->
                                  <ul class="nav nav-tabs tabs-left">
                                    <li class="disabled"><a href="#products">Products <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li class="disabled"><a href="#locations">Locations <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li class="disabled"><a href="#dates">Dates <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li class="active"><a href="#vendor" data-toggle="tab">Vendor Info &amp; Funding <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li><a href="#version" data-toggle="tab">Version <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li><a href="#marketing" data-toggle="tab">Marketing Vehicle <i class="glyphicon glyphicon-ok"></i></a></li>
                                    <li><a href="#pricing" data-toggle="tab">Pricing Vehicle <i class="glyphicon glyphicon-ok"></i></a></li>
                                  </ul>
                                </div>
                        
                                <div class="col-md-10">
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                    <div class="tab-pane" id="products">
                                    	<div class="innerSection">
                                        
                                        </div>
                                    </div>
                                    <!-- SO location tab -->
                                    <div class="tab-pane" id="locations">
                                   <div class="innerSection">
                                        
                                   </div>
                                  
                                    </div>
                                   
                                    <!-- EO location tab-->
                                     <!-- SO Dates tab-->
                                    <div class="tab-pane" id="dates">
                                    	<div class="innerSection">
                                        
                                        </div>
                                   </div> <!-- EO Dates tab-->
                                   
                                   <!-- SO Vendor Info-->
                                    <div class="tab-pane active" id="vendor">
                                    	<form action="/contract/update_tier" method="post" id="create_tier_form">
                                    	<div class="innerSection">
                                        	<h2>Contract Description</h2>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <textarea class="form-control" rows="2"><%=@trial_object["description"]%></textarea>
                                                </div>
                                            </div>
                                            
                                            <div class="subTabs tabbable marginTop30">
                                            	<div class="col-md-11 pad0">
                                                    <ul id="ulForVendorTier" class="nav nav-tabs">
                                                    	<%@tier_array.each {|tier|%>
		                                               		<% if tier["sequence"] == 0%>
		                                                    	<li class="active"><a href="#mainPriceVendor" data-toggle="tab">Main Price</a></li>
		                                                    <%else%>
		                                                     <li><a href="#tier<%= tier["sequence"]%>Vendor" data-toggle="tab">Tier <%= tier["sequence"]%></a></li>
		                                                    <%end%>
		                                                 <%}%>
                                                         <li class="rightBtn"> <button  id="createTierVendor" type="button" class="btn btn-default createTierVendor" value="<%= @version_array["version_id"]%>">+ Create Tier</button></li>
                                                         <input type="submit"  id="createTierVendorSubmitButton" style="display: none" value="Next"/>
                                                    </ul>
                                                    <div class="btnBrd1"></div>
                                                </div>
                                             
                                                <div class="clear"></div>
                                               <div id="venderTierAdd" class="tab-content row"> 
                                               	<%@tier_array.each {|tier|%>
                                               		<% if tier["sequence"] == 0%>
                                                    <div id="mainPriceVendor" class="tab-pane active form-group">
                                                    <%else%>
                                                    <div id="tier<%= tier["sequence"]%>Vendor" class="tab-pane form-group">
                                                    <%end%>

	<input id="tier_id" name="tierData[][tier_id]" type="text" class="form-control"  value="<%= tier["tier_id"] %>" style="display: none" >
	<div class="col-md-4">

		<div class="date">

			<div class="control-group">
				<div class="controls">
					<div class="input-prepend input-group">
						<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
						<%
						  @start_date = tier["start_date"].strftime("%m/%d/%Y")
						   @end_date =  tier["end_date"].strftime("%m/%d/%Y")
						%>
						<input type="text" style="width: 200px" name="tierData[][vender_funding_dates]" id="vender_funding_dates" class="form-control"  value="<%=@start_date%> - <%= @end_date%>">
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="clear"></div>
	<div class="col-md-9 marginTop10">
		<label class="bold">Vendor Info.</label>
		<table class="table table-bordered categoryTable wrap">
			<thead>
				<tr>
					<th>Vendor Name</th>
					<th>Vendor ID</th>
					<th>Vendor Description</th>

				</tr>
			</thead>
			<tbody>
				<% if tier["vendor_info"]!=nil %>
				<% @version_info = tier["vendor_info"]%>	
				<tr>
					<td>
					<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" value="<%= @version_info["vendor_name"] %>" style=" width: 160px; ">
					</td>
					<td>
					<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control"  value="<%= @version_info["vendor_id"] %>" >
					</td>
					<td>					<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description"  value="<%= @version_info["vendor_description"] %>" style="
																		height: 40px;"><%= @version_info["vendor_description"] %></textarea></td>
				</tr>
				<% else %>
				<tr>
					<td>
					<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" style=" width: 160px; ">
					</td>
					<td>
					<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control">
					</td>
					<td>					<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description" style="
																		height: 40px;"></textarea></td>
				</tr>

				<% end %>

			</tbody>
		</table>
	</div>

	<div class="bdrTopLine clear"></div>
	<div class="col-md-9">
		<div>
			<label class="bold">Vendor Funding</label>
		</div>

		<label> By Contract</label>
		<table class="table table-bordered categoryTable wrap">
			<thead>
				<tr>
					<th>Unit Funding</th>
					<th>Lumpsum Funding</th>
				</tr>
			</thead>
			<tbody >
				<tr>
					<td>
					<input id="unit_funding" name="tierData[][unit_funding]" type="text" class="form-control vendor-form" value="<%= tier["unit_funding"] %>">
					</td>
					<td>
					<input id="lumpsum_funding" name="tierData[][lumpsum_funding]" type="text" class="form-control vendor-form" value="<%= tier["lumpsum_funding"] %>">
					</td>
				</tr>
			</tbody>
		</table>

		<label> By Product</label>
		<table class="table  table-bordered categoryTable vendor-product-table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Product Name</th>
					<th>Product
					<br/>
					Desc</th>
					<th>Base Price</th>
					<th>Base Cost</th>
					<th>Unit Funding</th>
					<th>Net Cost</th>

				</tr>
			</thead>
			<tbody id= "tier_product_table">
				<% @product_data=tier["tierProductArray"]%>
				<%@product_data.each do |product_data|%>
				<tr>
					<td> <%= product_data["product_id"]%> </td>
					<td> <%= product_data["product_name"]%> </td>
					<td> <%= product_data["product_desc"]%> </td>
					<td> <%= product_data["base_price"]%> </td>
					<td>
					<input id="product_funding[][base_cost]" name="product_funding[][base_cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["base_cost"]%>" style="display:none" >
					<%= product_data["base_cost"]%> </td>
					<td>
					<input id="product_funding[][unit_funding]" name="product_funding[][unit_funding]" type="text" class="form-control vendor-product-form" value="<%= product_data["unit_funding"]%>">
					</td>
					<td>
					<input id="product_funding[][cost]" name="product_funding[][cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["cost"]%>" readonly>
					</td>
				</tr>
				<%end%>

			</tbody>
		</table>

	</div>

</div>
<%}%>
                                           </div>
                                           
                                           
                                           
                                           </div>
                                            
                                             						<div class="categoryNext clear">
                                                                        	<a href="#dates" data-toggle="tab" class="prevBtn">Previous</a>
																	<a href="#version"  id="version_funding" data-toggle="tab" style="display: none">Next</a>
																	<input type="submit"  class="nextBtn vender-button"  id="submit_button" value="Next"/>
                                                                        </div>
                                            
                                         </div>
                                         </form>
                                         <div class="newContractActionBar form-group"> 
                                         	 <button type="button" class="btn btn-default">Cancel</button> 
                                         	 <div><span class="small">(do not create trial)</span></div>
                                         </div>
                                    		
                                    </div>
                                    
                                    <!-- EO Vendor Infor -->
                                    
                                     <!-- SO Version tab-->
                                     <div class="tab-pane" id="version">
                                                   <div class="innerSection">
                                                       <div class="form-group"> 
                                                           <label>Should I version?</label>
                                                           <div> <label class="radio-inline">
                                                              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                                                            </label>
                                                            <label class="radio-inline">
                                                              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                                                            </label></div>
                                                     	</div>
                                                        <div class="form-group"> 
                                                           <label>Version according to</label>
                                                           <div class="row">
                                                          	<div class="col-md-4"> 
                                                            <select class="form-control">
                                                              <option>Price Zone</option>
                                                              <option>Ad Zone</option>
                                                              <option>User Defined - 1</option>
                                                              <option>User Defined - 2</option>
                                                           </select></div>
                                                           <div class="col-md-4"><button type="submit" class="btn btn-default">+ Add New Zone</button></div>
                                                           </div>
                                                        </div> 
                                                        
                                                        <div class="categoryNext clear">
															<a href="#vendor" data-toggle="tab" class="prevBtn">Previous</a>
															<a href="#marketing" data-toggle="tab" class="nextBtn"  id="addversion">Next</a>
														</div>                     
                                                   </div>
                                                   <div class="newContractActionBar form-group"> 
                                          <button type="button" class="btn btn-default">Cancel</button> 
                                          <div><span class="small">(do not create trial)</span></div>
                                           </div>
                                    </div><!-- EO Version tab-->
                                    <!-- SO Marketing Vehicle tab-->
                                    <div class="tab-pane" id="marketing">
                                     <div class="innerSection">
                                             <div class="row form-group">
                                                  <div class="col-md-4">
                                                  <label>Select Marketing Vehicle</label> 
                                                        <select class="form-control">
                                                                   <option>FP</option>
                                                                  <option>FP/BP</option> 
                                                         </select>
                                                  </div>
                                                   <div class="col-md-4">
                                                   <label>Select Ad size</label>
                                                   <select class="form-control">
                                                                  <option>Big Block</option>
                                                                  <option>Small Block</option>  
                                                         </select>		
                                                    </div>
                                              </div>
                                              <div class="checkbox form-group">
                                              <label>
                                                <input type="checkbox" value="">
                                                Apply across all versions
                                              </label>
                                            </div>
                                            
                                            <div class="categoryNext clear">
												<a href="#version" data-toggle="tab" class="prevBtn">Previous</a>
												<a href="#pricing" data-toggle="tab" class="nextBtn" id = "nextButtonForMarketingVehicle">Next</a>
										   	</div>
                                                                        
                                    	</div><div class="newContractActionBar form-group"> 
                                          <button type="button" class="btn btn-default">Cancel</button> 
                                          <div><span class="small">(do not create trial)</span></div>
                                           </div>
                                 
                                        
                                    </div>
                                    <!-- EO Marketing Vehicle tab-->
                                    <!-- SO Pricing Vehicle tab-->
                                    <div class="tab-pane" id="pricing">
                                    	<div class="innerSection">
                                            <div class="subTabs tabbable marginTop10">
                                            	<div class="col-md-11 pad0">
                                                    <ul id="ulForPricingTier" class="nav nav-tabs">
                                                    	<%@tier_array.each {|tier|%>
		                                               		<% if tier["sequence"] == 0%>
		                                                    	<li class="active"><a href="#mainPrice" data-toggle="tab">Main Price</a></li>
		                                                    <%else%>
		                                                     <li><a href="#tier<%= tier["sequence"]%>PricingVehicle" data-toggle="tab">Tier <%= tier["sequence"]%></a></li>
		                                                    <%end%>
		                                                 <%}%>
                                                         <li class="rightBtn"><button type="submit" class="btn btn-default">+ Create Tier</button></li>
                                                    </ul>
                                                    <div class="btnBrd1"></div>
                                                </div>
                                                
                                               
                                                <div class="clear"></div>
                                               <div id="pricingTierAdd" class="tab-content row"> 
                                               	<%@tier_array.each {|tier|%>
                                               		<% if tier["sequence"] == 0%>
                                                     <div id="mainPrice" class="tab-pane active form-group">
                                                    <%else%>
                                                   <div id="tier<%= tier["sequence"]%>PricingVehicle" class="tab-pane form-group" >
                                                    <%end%>
                                                   
	<div class="col-md-4">
	
	</div>
	<div class="clear"></div>
	<div class="bdrTopLine">
		<div class="row">
			<div class="col-md-4">
				<label>Price Vehicle</label>
				<select name="priceVehicle[][name]" class="form-control priceSelector">
					<% @price_vehicles.each {|price_vehicle|%>
						<% if tier["price_vehicle_id"] == price_vehicle["id"] %>
							<option value="<%= tier["sequence"]%>-<%= price_vehicle["id"]%>-<%= price_vehicle["name"]%>" selected="selected"><%= price_vehicle["description"]%></option>
						<%else%>
							<option value="<%= tier["sequence"]%>-<%= price_vehicle["id"]%>-<%= price_vehicle["name"]%>"><%= price_vehicle["description"]%></option>
						<% end%>
					<% } %>
					
				</select>

			</div>
		</div>
		<!-- BO flat Optimize  option -->
		<div id="<%= tier["sequence"]%>-1-flatOptimizeOpt" class="priceVehicleGroup flatOptimizeOpt" >
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Flat Price</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableFlatPriceBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<% if tier["price_vehicle_id"] == @price_vehicles[0]["id"] %>
								<% price_list_json = product_data["price_candidate_list"] %>
								<td> <input type='text' name="flatOptimizeOpt[][flatPrice]" class="form-control" value="<%= price_list_json["flat_price"]%>"/>	</td>
							<%else%>
								<td> <input type='text' name="flatOptimizeOpt[][flatPrice]" class="form-control" value=""/>	</td>
							<% end%>
						</tr>
					<%end%>
					
				</tbody>
			</table>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2 hideClass">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO flat Optimize  option -->

		<!-- BO Price Multiple  option -->
		<div id="<%= tier["sequence"]%>-2-priceMultipleOpt" class="priceVehicleGroup priceMultipleOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Qty / Price</th>
					</tr>
				</thead>
				<tbody id="priceVehilcePriceMultipleBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<% if tier["price_vehicle_id"] == @price_vehicles[1]["id"] %>
								<% price_list_json = product_data["price_candidate_list"] %>
								<td>	
									<input type='text' name="priceMultipleOpt[][qty]" value="<%= price_list_json["qty"]%>" class="form-control" />
									<input type='text' name="priceMultipleOpt[][price]" value="<%= price_list_json["price"]%>" class="form-control" />
								</td>
							<%else%>
								<td>	
									<input type='text' name="priceMultipleOpt[][qty]" class="form-control" />
									<input type='text' name="priceMultipleOpt[][price]" class="form-control" />
								</td>
							<% end%>
							
						</tr>
					<%end%>

				</tbody>
			</table>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2 hideClass">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO Price Multiple  option -->

		<!-- BO Percent Off  option -->
		<div id="<%= tier["sequence"]%>-3-percentOffOpt" class="priceVehicleGroup percentOffOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Percent Off</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTablePercentOffBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<% if tier["price_vehicle_id"] == @price_vehicles[2]["id"] %>
								<% price_list_json = product_data["price_candidate_list"] %>
								<td> <input type='text' name="percentOffOpt[][percentOff]" class="form-control" value="<%= price_list_json["percentOff"]%>"/>	</td>
							<%else%>
								<td> <input type='text' name="percentOffOpt[][percentOff]" class="form-control" />	</td>
							<% end%>
						</tr>
					<%end%>
					
				</tbody>
			</table>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2 hideClass">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO Percent Off  option -->

		<!-- BO Amount Off   option -->
		<div id="<%= tier["sequence"]%>-4-AmtOffOpt" class="priceVehicleGroup AmtOffOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Amount Off</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableAmountOffBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<% if tier["price_vehicle_id"] == @price_vehicles[3]["id"] %>
								<% price_list_json = product_data["price_candidate_list"] %>
								<td> <input type='text' name="AmtOffOpt[][amtOff]" class="form-control" value="<%= price_list_json["amtOff"]%>" />	</td>
							<%else%>
								<td> <input type='text' name="AmtOffOpt[][amtOff]" class="form-control" />	</td>
							<% end%>
						</tr>
					<%end%>
					
				</tbody>
			</table>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group hideClass">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2 hideClass">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO Amount Off   option -->

		<!-- BO BOGO option -->
		<div id="<%= tier["sequence"]%>-5-bogoOpt" class="priceVehicleGroup bogoOpt" style="display:none">
			<% if tier["price_vehicle_id"] == @price_vehicles[4]["id"] %>
				<% price_list_json = @product_data[0]["price_candidate_list"] %>
				<div class="bogoOffer">
				<label>Buy</label>
				<input type="text" name="bogoOpt[][buy]" value="<%= price_list_json["buy"]%>" class="form-control">
				<label>Qty ,</label>
				<label>Get</label>
				<input type="text" value="<%= price_list_json["get"]%>" name="bogoOpt[][get]" class="form-control">
				<label>Qty @:</label>
				<select class="form-control" name="bogoOpt[][offType]">
					<% if price_list_json["offType"] == "% off" %>
						<option selected>% off</option>
					<%else%>
						<option>% off</option>
					<%end%>
					<% if price_list_json["offType"] == "Amount off" %>
						<option selected>Amount off</option>
					<%else%>
						<option>Amount off</option>
					<%end%>
					<% if price_list_json["offType"] == "Flat amount" %>
						<option selected>Flat amount</option>
					<%else%>
						<option>Flat amount</option>
					<%end%>
				</select>
				<input type="text" value="<%= price_list_json["price"]%>" class="form-control" name="bogoOpt[][price]">
			</div>
			<%else%>
				<div class="bogoOffer">
					<label>Buy</label>
					<input type="text" name="bogoOpt[][buy]" value="" class="form-control">
					<label>Qty ,</label>
					<label>Get</label>
					<input type="text" value="" name="bogoOpt[][get]" class="form-control">
					<label>Qty @:</label>
					<select class="form-control" name="bogoOpt[][offType]">
						<option>% off</option>
						<option>Amount off</option>
						<option>Flat amount</option>
					</select>
					<input type="text" value="" class="form-control" name="bogoOpt[][price]">
				</div>
			<% end%>
			
			<table class="table table-bordered categoryTable marginTop30 marBtm0">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleBOGOTableBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
						</tr>
					<%end%>
			
				</tbody>
			</table>
			
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- BOGO  option -->

		<!-- BO Progressive option -->
		<div id="<%= tier["sequence"]%>-6-progressiveOpt" class="priceVehicleGroup progressiveOpt" style="display:none">
			<table class="table table-bordered categoryTable marginTop30 marBtm0">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Qty / Price</th>
					</tr>
				</thead>
				<tbody id="priceVehicleProgressiveTableBody">
					<% prodcut_count = 0 
					   divCount = 	@product_data.length * tier["sequence"]
					%>
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td>
								<div id="divContainer<%= divCount%>" class="divContainer">
									<% if tier["price_vehicle_id"] == @price_vehicles[5]["id"] %>
										<% price_list_json = product_data["price_candidate_list"] 
											data_array = price_list_json["data"]
											data_array.each {| data |
										%>
										<div class="qtyPriceDiv">
											<input type='text' class="form-control" name="progressiveOpt<%= tier["sequence"]%><%=prodcut_count%>[][qty]" value="<%= data["qty"]%>" />
											$
											<input type='text' class="form-control" value="<%= data["price"]%>" name="progressiveOpt<%= tier["sequence"]%><%=prodcut_count%>[][price]" />
										</div>
										<% } %>
									<%else%>
										<div class="qtyPriceDiv">
											<input type='text' class="form-control" name="progressiveOpt<%= tier["sequence"]%><%=prodcut_count%>[][qty]" />
											$
											<input type='text' class="form-control" value="" name="progressiveOpt<%= tier["sequence"]%><%=prodcut_count%>[][price]" />
										</div>
									<% end%>
									
								</div>
								<span class="glyphicon glyphicon-plus-sign addQtyPrice"></span>
							</td>
						</tr>
						<% prodcut_count += 1 
							divCount +=1
						%>
					<%end%>
					
				</tbody>
			</table>
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO Progressive  option -->

		<!-- BO BOGA  option -->
		<div id="<%= tier["sequence"]%>-7-bogaOpt" class="priceVehicleGroup bogaOpt" style="display:none">
			<% if tier["price_vehicle_id"] == @price_vehicles[6]["id"] %>
				<% price_list_json = @product_data[0]["price_candidate_list"] 
					buyProduct = price_list_json["buyProduct"]
					getProduct = price_list_json["getProduct"]
				%> 
			<div class="row">
				<div class="col-md-3">
					<div>
						All Products
					</div>
					<select size="10" multiple id="allCol<%= tier["sequence"]%>" style="width: 100%;">
						<%@product_data.each do |product_data|%>
							
							<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
						<%end%>
					</select>

				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= tier["sequence"]%>', 'selCol<%= tier["sequence"]%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol<%= tier["sequence"]%>', 'allCol<%= tier["sequence"]%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Buy Products
					</div>
					<select class="buyProduct" name="dataArrayBuy<%= tier["sequence"]%>[][buy]" size="10" multiple id="selCol<%= tier["sequence"]%>" style="width: 100%;">
						<%@product_data.each do |product_data|%>
							<% if buyProduct.include?(buyproduct_data["product"])%>
								<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
							<%end%>
						<%end%>
					</select>
				</div>

			</div>
			
			<div class="row">
				<div class="col-md-3">
					
				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= tier["sequence"]%>', 'getCol<%= tier["sequence"]%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('getCol<%= tier["sequence"]%>', 'allCol<%= tier["sequence"]%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Get Products
					</div>
					<select class="getProduct" name="dataArrayGet<%= tier["sequence"]%>[][get]" size="10" multiple id="getCol<%= tier["sequence"]%>" style="width: 100%;">
						<%@product_data.each do |product_data|%>
							<% if getProduct.include?(buyproduct_data["product"])%>
								<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
							<%end%>
						<%end%>
					</select>
				</div>

			</div>
           
           	<div class="bogoOffer">
				<label>Buy</label>
				<input type="text" name="bogaOpt[][buy]" value="<%= price_list_json["buy"]%>" class="form-control">
				<label>Qty ,</label>
				<label>Get</label>
				<input type="text" value="<%= price_list_json["get"]%>" name="bogaOpt[][get]" class="form-control">
				<label>Qty @:</label>
				<select class="form-control" name="bogaOpt[][offType]">
					<% if price_list_json["offType"] == "% off" %>
						<option selected>% off</option>
					<%else%>
						<option>% off</option>
					<%end%>
					<% if price_list_json["offType"] == "Amount off" %>
						<option selected>Amount off</option>
					<%else%>
						<option>Amount off</option>
					<%end%>
					<% if price_list_json["offType"] == "Flat amount" %>
						<option selected>Flat amount</option>
					<%else%>
						<option>Flat amount</option>
					<%end%>
				</select>
				<input type="text" value="<%= price_list_json["price"]%>" class="form-control" name="bogaOpt[][price]">
			</div>
           <%else%>

			<div class="row">
				<div class="col-md-3">
					<div>
						All Products
					</div>
					<select size="10" multiple id="allCol<%= tier["sequence"]%>" style="width: 100%;">
						<%@product_data.each do |product_data|%>
							
							<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
						<%end%>
					</select>

				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= tier["sequence"]%>', 'selCol<%= tier["sequence"]%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol<%= tier["sequence"]%>', 'allCol<%= tier["sequence"]%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Buy Products
					</div>
					<select class="buyProduct" name="dataArrayBuy<%= tier["sequence"]%>[][buy]" size="10" multiple id="selCol<%= tier["sequence"]%>" style="width: 100%;">
						
					</select>
				</div>

			</div>
			
			<div class="row">
				<div class="col-md-3">
					
				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= tier["sequence"]%>', 'getCol<%= tier["sequence"]%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('getCol<%= tier["sequence"]%>', 'allCol<%= tier["sequence"]%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Get Products
					</div>
					<select class="getProduct" name="dataArrayGet<%= tier["sequence"]%>[][get]" size="10" multiple id="getCol<%= tier["sequence"]%>" style="width: 100%;">
						
					</select>
				</div>

			</div>

			<div class="bogoOffer">
				<label>Buy</label>
				<input type="text" name="bogaOpt[][buy]" value="" class="form-control">
				<label>Qty ,</label>
				<label>Get</label>
				<input type="text" value="" name="bogaOpt[][get]" class="form-control">
				<label>Qty @:</label>
				<select class="form-control" name="bogaOpt[][offType]">
					<option>% off</option>
					<option>Amount off</option>
					<option>Flat amount</option>
				</select>
				<input type="text" value="" class="form-control" name="bogaOpt[][price]">
			</div>

			<% end %>
			
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO BOGA  option -->

		<!-- BO Custom Pricing  option -->
		<div id="<%= tier["sequence"]%>-8-custPricingOpt" class="priceVehicleGroup custPricingOpt" style="display:none">
			<div class="form-group col-md-4 marginTop10">
				<label>Price Description</label>
				<input type="text" value="" class="form-control">

			</div>
			<table class="table table-bordered categoryTable marginTop30 clear">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Custom Price</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableCustomPricingBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<% if tier["price_vehicle_id"] == @price_vehicles[7]["id"] %>
								<% price_list_json = product_data["price_candidate_list"] %>
								<td> <input type="text" value="" class="form-control" name="custPricingOpt[][price]" value="<%= price_list_json["price"]%>"> </td>
							<%else%>
								<td> <input type="text" value="" class="form-control" name="custPricingOpt[][price]"> </td>
							<% end%>
						</tr>
					<%end%>
					
				</tbody>
			</table>
			
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all Products </label>
			</div>
			<div class="form-group col-md-2">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
		</div>
		<!-- EO Custom Pricing  option -->

	</div>
</div>
<%}%>
                                                    
                                                </div>
                                              </div>
                                              <div class="categoryNext clear">
												<a href="#marketing" data-toggle="tab" class="prevBtn">Previous</a>
												<button type="button" class="btn btn-default boldText" id="savePricingVehicle">
													Save
												</button>
											  </div>
                                    	</div>
                                        <div class="newContractActionBar form-group">
                                        <button type="button" class="btn btn-default boldText">Create Trial</button>
                                        <button type="button" class="btn btn-default">Optimize</button> 
                                          <button type="button" class="btn btn-default">Cancel</button>
                                          <div class="cancelText"><span class="small">(do not create trial)</span></div>  
                                       </div>
                                  </div>
                                    </div>
                                    <!-- SO Pricing Vehicle tab-->
                                    
                                </div>
                           
                              <!-- EO tabbable left -->
                           </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div><!-- EO Sub TAB -->  
       </div><!-- EO CONTRACT TAB -->            
    </div><!-- EO TAB CONTENT -->    
    
    
    <script type="text/javascript">
               $(document).ready(function() {
				   
				    /* Common for all Modals */				
					$( "#compareTrialDialog" ).dialog({
								autoOpen: false,
								width: "auto",
								height: "auto"
					});
					
					
					$("#compTrialBtn").click(function(e) {
    
					$( "#compareTrialDialog" ).dialog("option", "position", {
						my: "left",
						at: "left",
						of: e,
						offset: "5 70"
					  });
					
						$( "#compareTrialDialog" ).dialog( "open")
					
					
				  	});	
					
                  $('#reservation').daterangepicker(null, function(start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                  });
				  
	
				  
				  $('#startDate, #endDate').datetimepicker({
					pickTime: false
				});
				 
               });
    </script>

    
    <script>
	
   $(document).ready(function() 
    { 	 
	 /* scrollbars */
		$('#overlayBody').enscroll({
		 
			showOnHover: true,
			verticalTrackClass: 'track3',
			verticalHandleClass: 'handle3'
		});
	 } ); 	
	
	$(document).ready(function() 
    { 
		
		$('.priceSelector').change(function() {
		var id =	$('#'+$(this).val()).parent().parent().attr("id");
		$('#'+id+' .priceVehicleGroup').hide();
		$('#' + $(this).val()).show(); 
		});
		
		$("#submit_button").click(function() {
			$("#version_funding").click();
		})
		
		$("#create_tier_form").ajaxForm(function() {
			
		});
	 $("#forecastTbl").tablesorter({sortList: [[1,1]]}); 
	

	$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();
		
      $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
	 	$("#prevNoteBtn").click(function(){
			
			$(this).find("span")
			.removeClass("caret")
			.addClass("caretdown")
		});
		
		$(".ui-dialog-titlebar-close").click(function(){
			$("#prevNoteBtn").find("span")
			.removeClass("caretdown")
			.addClass("caret")
		});
		
		
		$('#selectAll').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$('#selectAll2').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox2').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox2').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$('#selectAll3').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox3').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox3').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$(".addProdtoContract").click( function(){
			$('.addProdContract').show()
		});
		
		function findActiveTab(){
			var returnVal;
			$( ".tabs-left li" ).each(function( index ) {
		//  console.log( index + ": " + $( this ).text() );
		  
		  	var checkClass = $(this).hasClass('active')
		  		if(checkClass)
		  		returnVal=index;
			});
			return returnVal;
		}
		
		
		var leftTab =$(".tabs-left li");
		$(".nextBtn").click( function(){
			var i = findActiveTab();
			
			leftTab.eq(i+1).addClass("active")
			leftTab.eq(i).removeClass("active")
		});
		
		$(".prevBtn").click( function(){
			var i = findActiveTab();
			
			leftTab.eq(i-1).addClass("active")
			leftTab.eq(i).removeClass("active")
		});
		
		$('#priceVehicleSelector').change(function(){
            $('.priceVehicleGroup').hide();
            $('#' + $(this).val()).show();
        });
		
	
		$(".addQtyPrice").click(function(){
			var idName=$(this).parent().children().eq(0).attr("id").replace(/[^0-9]/gi, '')
			var sib = $(this).parent().children().eq(0)
			sib.children(":first").clone().appendTo($("#divContainer"+idName))
		});
		
	 $("#noteViewdataTable").tablesorter({sortList: [[3,1]]}); 
	
	 $('#vender_funding_dates').daterangepicker();
			
    }); 
	
	
	</script>
    
   
    <div id="hiddenDiv" style="display: none"></div>
    

