<!--! BO Previous Notes OVERLAY -->
<div id="prevNotesDialog">

	<div class="overlayContent">

		<table id="noteViewdataTable" class="tablesorter table-striped">
			<thead>
				<tr>
					<th>Note</th>
					<th>Created by user</th>
					<th>Date &amp; Time</th>

				</tr>
			</thead>
			<tbody id= "userNotesTable">

			</tbody>
		</table>

	</div>

</div> <!--! Previous Notes OVERLAY -->

 <!--! BO Add New Product OVERLAY -->
<!-- <div id="addProductDialog">

<div class="overlayContent">

<div class="overlayHeader">
Create a new Product Group
</div>

<form role="form">
<div class="form-group">
<label for="prodGroupName">Product Group Name</label>
<input type="text" class="form-control" id="prodGroupName" placeholder="">
</div>
<div class="form-group">
<label>Select Products</label>
<ul class="selectProd">
<li>
<a href="#">Product 1</a>,
</li>
<li>
<a href="#">Product 2</a>,
</li>
<li>
<a href="#">Product 3</a>,
</li>
<li>
<a href="#">Product 4</a>,
</li>
<li>
<a href="#">Product 5</a>
</li>
</ul>
</div>

<div class="overlayActions">
<button type="button" class="btn btn-default">
Save &amp; Add to Contract
</button>
<a href="javascript:;" class="popupCancelLink">Cancel</a>
</div>
</form>

</div>

</div> --><!--! EO Add New Product OVERLAY -->
<!-- BO Add New Location Overlay-->
<div id="addLocationDialog">
 <%= render :partial=>"add_location_group"%>
</div>
<!-- EO Add New Location OVERLAY-->
<!--! BO OVERRIDE FORECAST OVERLAY -->
<!-- <div id="overrideForecastOverlay">

<div class="overlayContent">

<div class="overlayHeader">
Override Forecast
</div>

<div id="overlayBody" class="overlayBodyScroll">

<div class="forecastOverlayInnerHeadingDiv">
Contract level forecast
</div>

<div>
<table class="flatPriceTable forecastTable infoAttrTable table-striped" >
<thead>
<tr>
<th></th>
<th> Baseline </th>
<th> Approved </th>
<th> Projected </th>
</tr>
</thead>
<tbody>
<tr>
<td>Units</td>
<td>100000</td>
<td>100000</td>
<td>
<table>
<tr>
<td>Old</td>
<td>New</td>
</tr>
<tr>
<td>123365</td>
<td>
<input type="text">
</td>
</tr>
</table></td>
</tr>
</tbody>
</table>
</div>

<div class="forecastOverlayInnerHeadingDiv">
Product level forecast
</div>

<div>
<table id="forecastTbl" class="flatPriceTable forecastTable tablesorter infoAttrTable table-striped" >
<thead>
<tr>
<th> By Products </th>
<th> Baseline </th>
<th> Approved </th>
<th> Projected </th>
</tr>
</thead>
<tbody>
<tr>
<td>L1</td>
<td></td>
<td></td>
<td>
<table>
<tr>
<td>Old</td>
<td>New</td>
</tr>
<tr>
<td>123365</td>
<td>
<input type="text">
</td>
</tr>
</table></td>
</tr>

<tr>
<td>L1</td>
<td></td>
<td></td>
<td>
<table>
<tr>
<td>Old</td>
<td>New</td>
</tr>
<tr>
<td>123365</td>
<td>
<input type="text">
</td>
</tr>
</table></td>
</tr>

<tr>
<td>L1</td>
<td></td>
<td></td>
<td>
<table>
<tr>
<td>Old</td>
<td>New</td>
</tr>
<tr>
<td>123365</td>
<td>
<input type="text">
</td>
</tr>
</table></td>
</tr>

<tr>
<td>L1</td>
<td></td>
<td></td>
<td>
<table>
<tr>
<td>Old</td>
<td>New</td>
</tr>
<tr>
<td>123365</td>
<td>
<input type="text">
</td>
</tr>
</table></td>
</tr>
</tbody>
</table>
</div>

</div>
<div class="overlayActions">
<button type="button" class="btn btn-default">
Restore to Original
</button>
<button type="button" class="btn btn-default">
Save
</button>
</div>
</div>
</div> --><!--! EO OVERRIDE FORECAST OVERLAY -->

<!-- BO TAB CONTENT -->
<div class="container tab-content tabContentMain">

	<!-- BO CONTRACT TAB -->
	<div id="contract" class="container tab-pane active contractTabBody">

		<div id="breadcrumbSection">
			<ul class="breadcrumb">
				<li>
					<a href="/worklist/index">Worklist</a>
				</li>
				<li>
					<a href="/contract/new">New Contract</a>
				</li>
				<li class="active">
					New Contract from Scratch
				</li>
			</ul>
		</div>

		<div class="page-header">
			<h1><img src="../assets/new_contract_icon.png"/>New Contract - <%= @contract_id%></h1>
		</div>

		<div class="subTabs tabbable mainContentTabs">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#base" data-toggle="tab">Base Contract</a>
				</li>
			</ul>
			<div class="tab-content subTabContent">
				<div id="base" class="tab-pane active">
					<div class="row">
						<div class="col-md-6">
							<!-- <form role="form"  action="/addNote" > -->
							<div class="form-group">
								<label for="addNote" class="col-sm-10 control-label">Add a Note</label>
								<div class="col-md-10">
									<textarea class="form-control" rows="1" id="addNote"></textarea>
									<span class="small" > 
									Last Note:	<label for="lastNote" class="small"> </label> 
										</span>
									<div class="btn-group">
										<button class="btn btn-default btn-xs" type="button" id="prevNoteBtn" data-toggle="dropdown" onclick="getAllNote(<%= @contract_id %>)">
											Previous Notes <span class="caret"></span>
										</button>

									</div>
								</div>
								<div class="col-md-2">
									<input class="btn btn-default" onclick="addNote(<%= @contract_id %>)" type="submit" value="Add">
									<!-- <div class="col-md-2"><button type="submit" class="btn btn-default" onclick="addNote()">Add</button>  </div> -->
								</div>
							</div>

						</div>
						<div class="col-md-2"></div>
						<!-- <div class="col-md-4 btnAlign">
						<button type="submit" class="btn btn-default overrideBtn">
						Override Forecast
						</button>
						<button type="submit" class="btn btn-default">
						Contract Attributes
						</button>
						</div> -->
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"> Core Contract Info </h3>
						</div>
						<div class="panel-body">
							<!-- tabbable left -->
							<div class="col-md-2">
								<!-- required for floating -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs tabs-left">
									<li class="active" id="productLi">
										<a href="#products" data-toggle="tab" id="productsA">Products <i id="productsOk" class="glyphicon "></i></a>
									</li>
									<li id="locationsLi">
										<a href="#locations" id="locationsA" data-toggle="tab">Locations <i id="locationsOk" class="glyphicon "></i></a>
									</li>
									<li id="datesLi">
										<a href="#dates" id="datesA" data-toggle="tab">Dates <i id="datesOk" class="glyphicon "></i></a>
									</li>
									<li id="vendorLi">
										<a id="vendorA" data-toggle="tab">Vendor Info &amp; Funding <i id="vendorOk" class="glyphicon "></i></a>
									</li>
									<li id="versionLi">
										<a id="versionA" data-toggle="tab">Version <i id="versionOk" class="glyphicon "></i></a>
									</li>
									<li id="marketingLi">
										<a id="marketingA" data-toggle="tab">Marketing Vehicle <i id="marketingOk" class="glyphicon "></i></a>
									</li>
									<li id="pricingLi">
										<a id="pricingA" data-toggle="tab">Pricing Vehicle <i id="pricingOk" class="glyphicon "></i></a>
									</li>
								</ul>
							</div>

							<div class="col-md-10">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="products">
										<div class="innerSection">
											<h2>Select Products</h2>
											<div class="subTabs tabbable">
												<ul class="nav nav-tabs">
													<li class="active">
														<a href="#hier" data-toggle="tab">By Hierarchy & Attributes</a>
													</li>
													<li>
														<a href="#prodid" data-toggle="tab">By Product ID</a>
													</li>
													<li>
														<a href="#prodgroup" data-toggle="tab" id="showProductGroups">By Product Group</a>
													</li>
												</ul>

												<div class="btnBrd"></div>
												<div class="tab-content">
													<div id="hier" class="tab-pane active">
														<div class="right-inner-addon ">
															<i class="glyphicon glyphicon-search"></i>
															<input type="search"
															class="form-control"
															placeholder="Quick search hierarchy & attributes" />
														</div>
														<div class="resetBlock">
															<button class="btn btn-danger" type="reset">
																Reset
															</button>
														</div>
														<div class="row clear">
															<div  class="col-md-4">
																<!-- SO tree -->
																<div class="productHeirarchyTreeDiv">
																	<span class="hierarchyHeading">Hierarchy</span>
																	<ul id="productHeirarchyTree">

																		<% @allCategoriesHierarchy.each do |categoryHash| %>

																		<% def ihash(h) %>
																		<% h.each do |k,v| %>
																		<%  if v.is_a?(Hash) %>
																		<li>
																			<span onClick="getProductsForId(<%= k[0].to_i %>)" class="breadcrumbCategory" id="<%= k[0].to_i %>"> <%= k[1] %></span>
																			<ul>
																				<li >
																					<% ihash(v) %>
																				</li>
																			</ul>
																		</li>
																		<%   else %>
																		<li class="treeLastChild">
																			<span onClick="getProductsForId(<%= k[0].to_i %>)" class="breadcrumbCategory" id="<%= k[0].to_i %>"> <%= k[1] %> </span>
																		</li>
																		<%  end %>
																		<%   end %>
																		<% end %>
																		<% ihash(categoryHash) %>
																		<% end %>
																	</ul>

																</div>
																<div class="productAttrTreeDiv">
																	<span class="hierarchyHeading">Attributes</span>
																	<!-- <ul id="productAttrTree">
																	<li>
																	Attribute 1
																	<ul>
																	<li>
																	<input type="checkbox">
																	A1
																	</li>
																	<li>
																	<input type="checkbox">
																	A2
																	</li>
																	<li>
																	<input type="checkbox">
																	A3
																	</li>
																	</ul>
																	</li>
																	<li>
																	Attribute 2
																	<ul>
																	<li>
																	<input type="checkbox">
																	A1
																	</li>
																	<li>
																	<input type="checkbox">
																	A2
																	</li>
																	<li>
																	<input type="checkbox">
																	A3
																	</li>
																	</ul>
																	</li>
																	</ul> -->
																</div>

															</div><!-- EO tree -->

															<div  class="col-md-8 categories">
																<div class="breadcrumbCategoryDiv"></div>

																<div class="categoryContent">

																	<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																		<thead>
																			<tr>
																				<th>
																				<input type="checkbox" id="selectAll">
																				</th>
																				<th>Product Name</th>
																				<th>Product Description</th>
																			</tr>
																		</thead>
																		<tbody id="productdataTableBody">

																		</tbody>
																	</table>
																	<div class="categoryBtn">
																		<!-- <button type="submit" class="addNewProdGroup">Add a New Product Group</button> -->
																		<button id ="addProdToContractButton" type="submit" class="addProdtoContract">
																			Add to main Contract
																		</button>
																	</div>
																</div>
															</div>
															<!-- right col -->
															<div class="clear"></div>
														</div>

														<!-- SO add Products to Contract -->
														<div class="addProdContract" style="display:none;">
															<h2> Products added to contract: </h2>
															<div class="row">
																<div class="col-md-9">
																	<!-- <ul class="categoryTab">
																	<li>
																	Category - 1 <span class="icon"></span>
																	</li>
																	<li>
																	Sub Category - 1<span class="icon"></span>
																	</li>
																	<li>
																	Sub Sub Category - 1<span class="icon"></span>
																	</li>
																	</ul> -->
																</div>
																<div class="col-md-3 alignRight">
																	<!-- <button type="submit" class="btn btn-default">
																	Re-Create
																	</button> -->
																</div>

															</div>
															<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																<thead>
																	<tr>
																		<th>
																		<input type="checkbox" id="selectAll2">
																		</th>
																		<th>Product Name</th>
																		<th>Product Description</th>
																	</tr>
																</thead>
																<tbody id="allProductForContact">

																</tbody>
															</table>
															<button type="submit" class="btn btn-default">
																Delete
															</button>
															<!-- <div class="row marginTop10">
															<div class="col-md-9">
															<div class="form-group">
															<label for="prodGroupName">Product Group Name</label>
															</div>

															</div>
															<div class="col-md-3 alignRight">
															<button type="submit" class="btn btn-default">
															Re-Create
															</button>
															</div>

															</div> -->

															<!-- <table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
															<thead>
															<tr>
															<th>
															<input type="checkbox" id="selectAll3">
															</th>
															<th>Product Name</th>
															<th>Product Description</th>
															</tr>
															</thead>
															<tbody>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td>&nbsp;</td>
															<td></td>
															</tr>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td>&nbsp;</td>
															<td></td>
															</tr>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td></td>
															<td></td>
															</tr>
															</tbody>
															</table>
															<button type="submit" class="btn btn-default">
															Delete
															</button> -->

														</div>
														<!-- SO add Products to Contract -->
														<div class="categoryNext">
															<a id='productNext' href="#locations" data-toggle="tab" class="nextBtn">Next</a>
														</div>

														<div class="clear"></div>
													</div>
													<div id="prodid" class="tab-pane productIdDiv">
														<ul>
															<li>
																Type in comma separated product IDs
															</li>
															<li>
																<textarea></textarea>
															</li>
															<li>
																<button type="button" class="btn btn-default" >
																	Search
																</button>
															</li>
														</ul>

														<div class="categoryNext">
															<a href="#locations" data-toggle="tab" class="nextBtn">Next</a>
														</div>
													</div>
													<!-- EO PRODUCT ID  -->

													<div id="prodgroup" class="tab-pane">

														<!-- <div class="right-inner-addon ">
														<i class="glyphicon glyphicon-search"></i>
														<input type="search"
														class="form-control"
														placeholder="Quick search hierarchy & attributes" />
														</div>
														<div class="resetBlock">
														<button class="btn btn-danger" type="reset">
														Reset
														</button>
														</div> -->
														<div class="row clear">
															<!-- <div  class="col-md-4">

															<div class="productHeirarchyTreeDiv">
															<span class="hierarchyHeading">Hierarchy</span>
															<ul id="productGroupHeirarchyTree">
															<% @allCategoriesHierarchy.each do |categoryHash| %>

															<% def ihash(h) %>
															<% h.each do |k,v| %>
															<%  if v.is_a?(Hash) %>
															<li>
															<span onClick="a(<%= k[0].to_i %>)">

															<%= k[1] %></span>
															<ul>
															<li >
															<% ihash(v) %>
															</li>
															</ul>
															</li>
															<%   else %>
															<li class="treeLastChild">
															<span onClick="a(<%= k[0].to_i %>)">
															<%= k[1] %>
															</span></li>
															<%  end %>
															<%   end %>
															<% end %>
															<% ihash(categoryHash) %>
															<% end %>
															</ul>
															</div>

															<div class="productAttrTreeDiv">
															<span class="hierarchyHeading">Attributes</span>
															<ul id="productGroupAttrTree">
															<li>
															Attribute 1
															<ul>
															<li>
															<input type="checkbox">
															A1
															</li>
															<li>
															<input type="checkbox">
															A2
															</li>
															<li>
															<input type="checkbox">
															A3
															</li>
															</ul>
															</li>
															<li>
															Attribute 2
															<ul>
															<li>
															<input type="checkbox">
															A1
															</li>
															<li>
															<input type="checkbox">
															A2
															</li>
															<li>
															<input type="checkbox">
															A3
															</li>
															</ul>
															</li>
															</ul>
															</div>

															</div> -->
															<div class="col-md-2"></div>
															<div  class="col-md-8 categories">

																<div class="categoryContent">

																	<table class="table table-bordered categoryTable tablesorter table-striped"  id="productGroupdataTable">
																		<thead>
																			<tr>
																				<th>
																				<input type="checkbox" id="selectAll">
																				</th>
																				<th>Product Group Name</th>
																				<th>Product Name</th>
																				<th>Product Description</th>
																			</tr>
																		</thead>
																		<tbody>
																			<% @productGroupsHash.each do |productGroups| %>
																			<tr>
																				<%productGroups.each do |k,v|%>
																				<td rowspan="<%= v.length%>">
																				<input type="checkbox" class="checkbox1" id="<%= k[0]%>">
																				</td>
																				<td rowspan="<%= v.length%>"> <%= k[1]%> </td>
																				<% @flag=0%>
																				<%v.each do |row|%>
																				<%if @flag==0 %>
																				<% @flag=1%>
																				<td> <%= row["upc_desc"]%></td>
																				<td> <%= row["item_desc"]%></td>
																				<%else%>
																			<tr>
																				<td> <%= row["upc_desc"]%></td>
																				<td> <%= row["item_desc"]%></td>
																			</tr>
																			<%end%>

																			<%end%>
																			<%end%>
																			</tr>
																			<%end%>

																		</tbody>
																	</table>

																	<div class="row worklistTablePaginationHolder">

																		<div class=" worklistPagination paginPad">

																			<div class="categoryBtn">

																				<button type="submit" class="addProdtoContract" id="addProdGrouptoContract">
																					Add Product Group to Contract
																				</button>
																			</div>

																		</div>

																	</div><!-- EO ROW -->

																</div>
															</div>
															<!-- right col -->
															<div class="clear"></div>
														</div>
														
														<!-- SO add Products to Contract -->
														<div class="addProdContract" >
															<h2> Product Groups added to contract: </h2>
															<div class="row">
																<div class="col-md-9">
																	<!-- <ul class="categoryTab">
																	<li>
																	Category - 1 <span class="icon"></span>
																	</li>
																	<li>
																	Sub Category - 1<span class="icon"></span>
																	</li>
																	<li>
																	Sub Sub Category - 1<span class="icon"></span>
																	</li>
																	</ul> -->
																</div>
																<div class="col-md-3 alignRight">
																	<!-- <button type="submit" class="btn btn-default">
																	Re-Create
																	</button> -->
																</div>

															</div>
															<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																<thead>
																	<tr>
																		<th>
																		<input type="checkbox" id="selectAll2">
																		</th>
																		<th>Product Name</th>
																		<th>Product Description</th>
																	</tr>
																</thead>
																<tbody id="productGroupsData">
																	<!-- <tr>
																	<td>
																	<input type="checkbox" class="checkbox2">
																	</td>
																	<td>&nbsp;</td>
																	<td></td>
																	</tr>
																	<tr>
																	<td>
																	<input type="checkbox" class="checkbox2">
																	</td>
																	<td>&nbsp;</td>
																	<td></td>
																	</tr>
																	<tr>
																	<td>
																	<input type="checkbox" class="checkbox2">
																	</td>
																	<td></td>
																	<td></td>
																	</tr> -->
																</tbody>
															</table>
															<!-- <button type="submit" class="btn btn-default">
															Delete
															</button> -->
															<!-- <div class="row marginTop10">
															<div class="col-md-9">
															<div class="form-group">
															<label for="prodGroupName">Product Group Name</label>
															</div>

															</div>
															<div class="col-md-3 alignRight">
															<button type="submit" class="btn btn-default">
															Re-Create
															</button>
															</div>

															</div> -->

															<!-- <table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
															<thead>
															<tr>
															<th>
															<input type="checkbox" id="selectAll3">
															</th>
															<th>Product Name</th>
															<th>Product Description</th>
															</tr>
															</thead>
															<tbody>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td>&nbsp;</td>
															<td></td>
															</tr>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td>&nbsp;</td>
															<td></td>
															</tr>
															<tr>
															<td>
															<input type="checkbox" class="checkbox3">
															</td>
															<td></td>
															<td></td>
															</tr>
															</tbody>
															</table> -->
															<!-- <button type="submit" class="btn btn-default">
															Delete
															</button> -->

														</div>
														<!-- SO add Products to Contract -->
														<div class="categoryNext">
															<a href="#locations" data-toggle="tab" class="nextBtn" >Next</a>
														</div>

														<div class="clear"></div>

													</div>
													<!-- EO PRODUCT GROUP -->

												</div>
											</div>
										</div>
									</div>
									<!-- SO location tab -->
									<div class="tab-pane" id="locations">
										<%= render :partial=>"locations_div"%>
									</div>

									<!-- EO location tab-->
									<!-- SO Dates tab-->
									<div class="tab-pane" id="dates">
										<div class="innerSection">
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Promotion Start Date</label>
													</div>

												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Promotion End Date</label>
													</div>
												</div>
												<div class="col-md-4"></div>
											</div>
											<div class="date">
												<form class="form-horizontal">
													<fieldset>
														<div class="control-group">
															<div class="controls">
																<div class="input-prepend input-group">
																	<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
																	<input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="<%= Time.now.strftime("%m/%d/%Y") %> - <%= 5.weeks.from_now.strftime("%m/%d/%Y") %>"" />
																	</div>
																	</div>
																	</div>
																	</fieldset>
																	</form>
																	</div>

																	<div class="categoryNext">
																	<a href="#locations" data-toggle="tab" class="prevBtn">Previous</a>
																	<a id="dateNext" href="#vendor" data-toggle="tab" class="nextBtn" onclick="saveDate(<%= @contract_id %> )">Next</a>
																	</div>

																	<div class="clear"></div>

																	</div>
																	</div>
																	<!-- EO Dates tab-->

																	<!-- SO Vendor Info-->

																	<div class="tab-pane" id="vendor">
																	<form action="/contract/update_tier" data-remote="true" method="post" id="create_tier_form">

																	<div class="innerSection">
																		<input id="tier_id" name="tierData[][tier_id]" style="display: none" value="<%=@tier_id%>" /> 
																	<h2>Contract Description</h2>
																	<div class="row">
																	<div class="col-md-6">
																	<textarea class="form-control" rows="2" name="contract_description" id="contract_description" ></textarea>

																	</div>
																	</div>

																	<div class="subTabs tabbable marginTop30">
																	<div class="col-md-11 pad0">
																	<ul id="ulForVendorTier" class="nav nav-tabs">
																	<li class="active">
																	<a href="#mainPriceVendor" data-toggle="tab">Main Price</a>
																	</li>

																	<li class="rightBtn">
																	
																	<button  id="createTierVendor" type="button" class="btn btn-default createTierVendor">
																		+ Create Tier
																	</button>
																	<input type="submit"  id="createTierVendorSubmitButton" style="display: none" value="Next"/>
																	</li>
																	</ul>
																	<div class="btnBrd1"></div>
																	</div>

																	<div class="clear"></div>
																	<div  id="venderTierAdd" class="tab-content row">
																	<div id="mainPriceVendor" class="tab-pane active form-group">

																	<div class="col-md-4">

																	<div class="date">
																	<form class="form-horizontal">
																	<fieldset>
																	<div class="control-group">
																	<div class="controls">
																	<div class="input-prepend input-group">
																	<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
																	<input type="text" style="width: 200px" name="tierData[][vender_funding_dates]" id="vender_funding_dates" class="form-control"  value="<%= Time.now.strftime("%m/%d/%Y") %> - <%= 5.weeks.from_now.strftime("%m/%d/%Y") %>">
																	</div>
																	</div>
																	</div>
																	</fieldset>
																	</form>
																	</div>
																	</div>

																	<div class="clear"></div>
																	<div class="col-md-9 marginTop10">
																	<label class="bold">Vendor Info.</label>
																	<table class="table table-bordered categoryTable wrap">
																	<thead>
																	<tr>
																	<th>Vendor Name</th>
																	<th>Vendor ID</th>
																	<th>Vendor Description</th>

																	</tr>
																	</thead>
																	<tbody>
																	<% if @tier!=nil %>
																
																	<% if @tier.vendor_info!=nil %>

																	<tr>
																	<td>
																	<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" value="<%= @tier.vendor_info["vendor_name"] %>" style=" width: 160px; ">
																	</td>
																	<td>
																	<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control"  value="<%= @tier.vendor_info["vendor_id"] %>" >
																	</td>
																	<td>	<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description"  value="<%= tier.vendor_info["vendor_description"] %>" style="
																	height: 40px;"><%= @tier.vendor_info["vendor_description"] %></textarea></td>
																	</tr>
																	<% else %>
																	<tr>
																	<td>
																	<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" style=" width: 160px; ">
																	</td>
																	<td>
																	<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control">
																	</td>
																	<td>	<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description" style="
																	height: 40px;"></textarea></td>
																	</tr>

																	<% end %>
																	
																	<% else %>
																	<tr>
																	<td>
																	<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" style=" width: 160px; ">
																	</td>
																	<td>
																	<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control">
																	</td>
																	<td>  <textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description" style="height: 40px;"></textarea></td>
																	</tr>
																	<% end %>

																	</tbody>
																	</table>
																	</div>

																	<div class="bdrTopLine clear"></div>
																	<div class="col-md-9">
																	<div>
																	<label class="bold">Vendor Funding</label>
																	</div>

																	<label>
																	By Contract</label>
																	<table class="table table-bordered categoryTable wrap">
																	<thead>
																	<tr>
																		<th>Unit Funding</th>
																		<th>Lumpsum Funding</th>
																	</tr>
																	</thead>
																	<tbody >
																	<% if @tier!=nil %>
																	<tr>
																		<td>
																		<input id="unit_funding" name="tierData[][unit_funding]" type="text" class="form-control vendor-form" value="<%= @tier.unit_funding %>">
																		</td>
																		<td>
																		<input id="lumpsum_funding" name="tierData[][lumpsum_funding]" type="text" class="form-control vendor-form" value="<%= @tier.lumpsum_funding %>">
																		</td>
																	</tr>
																	<% else %>
																	<tr>
																		<td>
																		<input id="unit_funding" name="tierData[][unit_funding]" type="text" class="form-control vendor-form" value="">
																		</td>
																		<td>
																		<input id="lumpsum_funding" name="tierData[][lumpsum_funding]" type="text" class="form-control vendor-form" value="">
																		</td>
																	</tr>

																	<% end %>

																	</tbody>
																	</table>

																	<label>
																	By Product</label>
																	<table class="table  table-bordered categoryTable vendor-product-table">
																	<thead>
																	<tr>
																	<th>Product</th>
																	<th>Product Name</th>
																	<th>Product
																	<br/>
																	Desc</th>
																	<th>Base Price</th>
																	<th>Base Cost</th>
																	<th>Unit Funding</th>
																	<th>Net Cost</th>
																	</tr>
																	</thead>
																	<tbody id= "tier_product_table">

																	</tbody>
																	</table>
																	</div>

																	</div>

																	</div>

																	</div>

																	<div class="categoryNext clear">
																	<a href="#dates" data-toggle="tab" class="prevBtn">Previous</a>
																	<a href="#version"  id="version_funding" data-toggle="tab" style="display: none">Next</a>
																	<input type="submit"  class="nextBtn vender-button"  id="submit_button" value="Next"/>

																	</div>

																	</div>

																	</div>

																	</form>

																	<!-- EO Vendor Infor -->

																	<!-- SO Version tab-->

																	
																	<!-- SO Version tab-->
																	<div class="tab-pane" id="version">
																	<div class="innerSection">
																	<div class="form-group">
																	<label>Should I version?</label>
																	<div>
																	<label class="radio-inline">
																	<input type="radio" name="inlineRadioOptionsVersion" id="inlineRadio1" value="option1">
																	Yes </label>
																	<label class="radio-inline">
																	<input type="radio" name="inlineRadioOptionsVersion" id="inlineRadio2" value="option2">
																	No </label>
																	</div>
																	</div>
																	<div class="form-group hideClass1" style= "display:block" >
																	<label>Version according to</label>
																	<div class="row">
																	<div class="col-md-4">
																	<select class="form-control" id="selectedVersionAttribute">
																	<% @veriosnableAttributes.each{|attr| %>
																	<option value=<%= attr.id %>  ><%= attr.name%></option>
																	<% } %>
																	
																	</select>
																	</div>
																	<!-- <div class="col-md-4">
																	<button type="submit" class="btn btn-default">
																	+ Add New Zone
																	</button>
																	</div> -->
																	</div>
																	</div> 

																	<div class="categoryNext clear">
																	<a href="#vendor" data-toggle="tab" class="prevBtn">Previous</a>
																	<a href="#marketing" data-toggle="tab" class="nextBtn"  id="addversion">Next</a>
																	</div>
																	</div>
																	</div>
																	
																	<!-- EO Version tab-->
																	<!-- SO Marketing Vehicle tab-->
																	<div class="tab-pane" id="marketing">
																	<div class="innerSection">
																	<div id="marketingVehiclesDiv"></div>
																	<div class="checkbox form-group">
																	<label>
																	<input type="checkbox" value="">
																	Apply across all versions </label>
																	</div>

																	<div class="categoryNext clear">
																	<a href="#version" data-toggle="tab" class="prevBtn">Previous</a>
																	<a href="#pricing" data-toggle="tab" class="nextBtn" id = "nextButtonForMarketingVehicle">Next</a>
																	</div>
																	</div>
																	</div>
																	<!-- EO Marketing Vehicle tab-->
																	<!-- SO Pricing Vehicle tab-->
																	
																	<div class="tab-pane" id="pricing">
																		<form id="priceVehicalForm" action="updatePriceVehical" method="post" >
																			<input type="text" id="product_count" name="product_count"  style="display: none" />
																			<input id="tier_id" name="tier_id[]" style="display: none" value="<%=@tier_id%>" />
																	<div class="innerSection">
																	<div class="subTabs tabbable marginTop10">
																	<div class="col-md-11 pad0">
																	<ul id="ulForPricingTier" class="nav nav-tabs">
																	<li class="active">
																	<a href="#mainPrice" data-toggle="tab">Main Price</a>
																	</li>
	
																	<li class="rightBtn">
																	<button  id="createTierVendor" type="button" class="btn btn-default createTierVendor">
																		+ Create Tier
																	</button>
																	</li>
																	</ul>
																	<div class="btnBrd1"></div>
																	</div>

																	<div class="clear"></div>
																	<div id="pricingTierAdd" class="tab-content row">
																	<div id="mainPrice" class="tab-pane active form-group">
																	<div class="col-md-4">

																	<div class="date">
																	<form class="form-horizontal">
																	<fieldset>
																	<div class="control-group">
																	<div class="controls">
																	<div class="input-prepend input-group">
																	<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
																	<input type="text" style="width: 200px" name="reservation" id="reservationPriceVehicleDate" class="form-control" value="<%= Time.now.strftime("%m/%d/%Y") %> - <%= 5.weeks.from_now.strftime("%m/%d/%Y") %>" />
																</div>
															</div>
														</div>
													</fieldset>
												</form>
											</div>

											<!--  <label>Start Date</label>

											<div class='input-group date' id='startDate'>
											<input type='text' class="form-control" />
											
											<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
											</div>
											 -->

										</div>
 
										<div class="col-md-4">
											<!-- <label>End Date</label>
											<div class='input-group date' id='endDate'>
											<input type='text' class="form-control" />
											<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
											</div> -->

										</div>
										<div class="clear"></div>
										<div class="bdrTopLine">
											<div class="row">
												<div class="col-md-4">
													<label>Price Vehicle</label>
													<select name="priceVehicle[][name]" class="form-control priceSelector">
														<option value="0-1-flatOptimizeOpt">Flat Price</option>
														<option value="0-2-priceMultipleOpt">Price Multiple</option>
														<option value="0-3-percentOffOpt">Percent Off</option>
														<option value="0-4-AmtOffOpt">Amount Off </option>
														<option value="0-5-bogoOpt">BOGO</option>
														<option value="0-6-progressiveOpt">Progressive</option>
														<option value="0-7-bogaOpt">BOGA</option>
														<option value="0-8-custPricingOpt">Custom Pricing</option>
													</select>

												</div>
											</div>
											<!-- BO flat Optimize  option -->
											<div id="0-1-flatOptimizeOpt" class="priceVehicleGroup flatOptimizeOpt">
												<div class="marginTop10">
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
														Optimize </label>
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
														Supply </label>
												</div>
												<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Flat Price</th>
														</tr>
													</thead>
													<tbody id = "priceVehicleTableFlatPriceBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>

													</tbody>
												</table>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2 hideClass">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO flat Optimize  option -->

											<!-- BO Price Multiple  option -->
											<div id="0-2-priceMultipleOpt" class="priceVehicleGroup priceMultipleOpt" style="display:none">
												<div class="marginTop10">
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
														Optimize </label>
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
														Supply </label>
												</div>
												<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Qty / Price</th>
														</tr>
													</thead>
													<tbody id="priceVehilcePriceMultipleBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															$
															<input type='text' class="form-control" value="0.00" />
															</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															$
															<input type='text' class="form-control" value="0.00" />
															</td>
														</tr>

													</tbody>
												</table>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2 hideClass">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO Price Multiple  option -->

											<!-- BO Percent Off  option -->
											<div id="0-3-percentOffOpt" class="priceVehicleGroup percentOffOpt" style="display:none">
												<div class="marginTop10">
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
														Optimize </label>
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
														Supply </label>
												</div>
												<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Percent Off</th>
														</tr>
													</thead>
													<tbody id = "priceVehicleTablePercentOffBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>

													</tbody>
												</table>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2 hideClass">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO Percent Off  option -->

											<!-- BO Amount Off   option -->
											<div id="0-4-AmtOffOpt" class="priceVehicleGroup AmtOffOpt" style="display:none">
												<div class="marginTop10">
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
														Optimize </label>
													<label class="radio-inline">
														<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
														Supply </label>
												</div>
												<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Amount Off</th>
														</tr>
													</thead>
													<tbody id = "priceVehicleTableAmountOffBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type='text' class="form-control" />
															</td>
														</tr>

													</tbody>
												</table>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group hideClass">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2 hideClass">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO Amount Off   option -->

											<!-- BO BOGO option -->
											<div id="0-5-bogoOpt" class="priceVehicleGroup bogoOpt" style="display:none">
												<div class="bogoOffer">
													<label>Buy</label>
													<input type="text" name="bogoOpt[][buy]" value="" class="form-control">
													<label>Qty ,</label>
													<label>Get</label>
													<input type="text" value="" name="bogoOpt[][get]" class="form-control">
													<label>Qty @:</label>
													<select class="form-control" name="bogoOpt[][offType]">
														<option>% off</option>
														<option>Amount off</option>
														<option>Flat amount</option>
													</select>
													<input type="text" value="" class="form-control" name="bogoOpt[][price]">
												</div>
												
												<table class="table table-bordered categoryTable marginTop30 marBtm0">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
														</tr>
													</thead>
													<tbody id = "priceVehicleBOGOTableBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
														</tr>

													</tbody>
												</table>
												<!-- <div class="bogoOffer">
													<label>Buy</label>
													<input type="text" value="2" class="form-control">
													<label>Qty ,</label>
													<label>Get</label>
													<input type="text" value="1" class="form-control">
													<label>@</label>
													<input type="text" value="50%" class="form-control">
													<label>% off</label>
												</div> -->
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- BOGO  option -->

											<!-- BO Progressive option -->
											<div id="0-6-progressiveOpt" class="priceVehicleGroup progressiveOpt" style="display:none">
												<table class="table table-bordered categoryTable marginTop30 marBtm0">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Qty / Price</th>
														</tr>
													</thead>
													<tbody id="priceVehicleProgressiveTableBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<div id="divContainer1" class="divContainer">
																<div class="qtyPriceDiv">
																	<input type='text' class="form-control" />
																	$
																	<input type='text' class="form-control" value="0.00" />
																</div>
															</div><span class="glyphicon glyphicon-plus-sign addQtyPrice"></span></td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<div id="divContainer2" class="divContainer">
																<div class="qtyPriceDiv">
																	<input type='text' class="form-control" />
																	$
																	<input type='text' class="form-control" value="0.00" />
																</div>
															</div><span class="glyphicon glyphicon-plus-sign addQtyPrice"></span></td>
														</tr>

													</tbody>
												</table>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO Progressive  option -->

											<!-- BO BOGA  option -->
											<div id="0-7-bogaOpt" class="priceVehicleGroup bogaOpt" style="display:none">

												<div class="row">
													<div class="col-md-3" >
														<div>
															All Products
														</div>
														<select size="10" multiple id="allCol" style="width: 100%;">
															
														</select>

													</div>

													<div class="col-md-2 customizeTableButtons">
														<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol', 'selCol')">
															Add >
														</button>
														<button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol', 'allCol')">
															< Remove
														</button>
													</div>

													<div class="col-md-3" >
														<div>
															Buy Products
														</div>
														<select class="buyProduct" name="dataArrayBuy0[][buy]" size="10" multiple id="selCol" style="width: 100%;">
															
														</select>
													</div>

												</div>
												
												<div class="row">
													<div class="col-md-3" >
														
													</div>

													<div class="col-md-2 customizeTableButtons">
														<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol', 'getCol')">
															Add >
														</button>
														<button type="button" class="btn btn-default" onClick="listbox_moveacross('getCol', 'allCol')">
															< Remove
														</button>
													</div>

													<div class="col-md-3" >
														<div>
															Get Products
														</div>
														<select class="getProduct" name="dataArrayGet0[][get]" size="10" multiple id="getCol" style="width: 100%;">
															
														</select>
													</div>

												</div>

												<div class="bogoOffer">
													<label>Buy</label>
													<input type="text" name="bogaOpt[][buy]" value="" class="form-control">
													<label>Qty ,</label>
													<label>Get</label>
													<input type="text" value="" name="bogaOpt[][get]" class="form-control">
													<label>Qty @:</label>
													<select class="form-control" name="bogaOpt[][offType]">
														<option>% off</option>
														<option>Amount off</option>
														<option>Flat amount</option>
													</select>
													<input type="text" value="" class="form-control" name="bogaOpt[][price]">
												</div>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO BOGA  option -->

											<!-- BO Custom Pricing  option -->
											<div id="0-8-custPricingOpt" class="priceVehicleGroup custPricingOpt" style="display:none">
												<div class="form-group col-md-4 marginTop10">
													<label>Price Description</label>
													<input type="text" value="" class="form-control">

												</div>
												<table class="table table-bordered categoryTable marginTop30 clear">
													<thead>
														<tr>
															<th>Product</th>
															<th>Base Cost</th>
															<th>Base Price</th>
															<th>Unit Funding</th>
															<th>Net Cost</th>
															<th>Custom Price</th>
														</tr>
													</thead>
													<tbody id = "priceVehicleTableCustomPricingBody">
														<tr>
															<td>L1</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type="text" value="" class="form-control">
															</td>
														</tr>
														<tr>
															<td>L2</td>
															<td>&nbsp;</td>
															<td></td>
															<td></td>
															<td>&nbsp;</td>
															<td>
															<input type="text" value="" class="form-control">
															</td>
														</tr>

													</tbody>
												</table>
												<!-- <div class="bogoOffer">
													<label>Buy</label>
													<input type="text" value="2" class="form-control">
													<label>Qty ,</label>
													<label>Get</label>
													<input type="text" value="1" class="form-control">
													<label>Qty @:</label>
													<select class="form-control">
														<option>% off</option>
														<option>Amount off</option>
														<option>Flat amount</option>
													</select>
													<input type="text" value="40" class="form-control">
												</div> -->
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all versions </label>
												</div>
												<div class="checkbox form-group">
													<label>
														<input type="checkbox" value="">
														Apply Prices across all Products </label>
												</div>
												<div class="form-group col-md-2">
													<label> No. of reward points</label>
													<input type="text" value="" class="form-control">

												</div>
											</div>
											<!-- EO Custom Pricing  option -->

										</div>
									</div>

									

								</div>
							</div>
							<div class="categoryNext clear">
								<a href="#marketing" data-toggle="tab" class="prevBtn">Previous</a>
								<input type="submit" class="btn btn-default boldText" id="savePricingVehicleSumbmit" style="display: none" />
								
								<button type="button" class="btn btn-default boldText" id="savePricingVehicle">
																	Save
															</button>
								
							</div>
						</div>
						<div class="newContractActionBar">
							<button type="button" class="btn btn-default boldText">
								Approve
							</button>
							<button type="button" class="btn btn-default boldText">
								Reject
							</button>
							<button type="button" class="btn btn-default">
								Optimize
							</button>
							<button type="button" class="btn btn-default">
								Simulate
							</button>
						</div>
						</form>
					</div>
					<!-- SO Pricing Vehicle tab-->
					
				</div>
			</div>

			<!-- EO tabbable left -->
		</div>
	</div>
</div>

</div>
</div><!-- EO Sub TAB -->
</div><!-- EO CONTRACT TAB -->
</div><!-- EO TAB CONTENT -->

<script type="text/javascript">
$(document).ready(function() {
/* Common for all Modals */
$("#prevNotesDialog, #addProductDialog, #overrideForecastOverlay, #addLocationDialog").dialog({
autoOpen : false,
width : "auto",
height : "auto"
});

$('#locationTable').DataTable({
paging : true,
searching : false,
info : false

});

$("#prevNoteBtn").click(function(e) {

$("#prevNotesDialog").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#prevNotesDialog").dialog("open")
var offset = $(this).offset()

$("#prevNotesDialog").parent().css("top", offset.top - 30 + "px")

});

$(".addNewLocGroup").click(function(e) {
 var locationIds = $("input:checkbox:checked", $("#locationTable").dataTable().fnGetNodes()).map(function(){
    return ($(this).val());
   }).get();

  if(locationIds==null || locationIds==''){
    alert("Please select store first");
  }else{
   // alert(locationIds);
	console.log($(this).text())
	$("#addLocationDialog").dialog("option", "position", {
		my : "left",
		at : "left",
		of : e,
		offset : "5 70"
	});

	$("#addLocationDialog").dialog("open")
	var offset = $(this).offset()

	$("#addLocationDialog").parent().css("left", offset.left - 300 + "px")
   
    $("#hiddenDiv").load("storeLocations",{locationIds: locationIds},function(rt){
     var jsonString = JSON.parse(rt);
        var temp = "";
        var temp1 = "";
         $.each(jsonString, function(key, value) { 
       		temp += '<tr><td>'+value.description+'</td></tr>';
           temp1 += '<tr><td><input type="checkbox" id="'+value.id+'" class="checkbox1"></td><td>'+value.description+'</td><td>'+value.store_pos_id+'</td></tr>';
          });
     $("#allLocation2ForContact").html(temp);
     $("#allLocationForContact").html(temp1);
    });
 
}
});

$(".addNewProdGroup").click(function(e) {

console.log($(this).text())
$("#addProductDialog").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#addProductDialog").dialog("open")
var offset = $(this).offset()

$("#addProductDialog").parent().css("left", offset.left - 300 + "px")

});

$(".overrideBtn").click(function(e) {

$("#overrideForecastOverlay").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#overrideForecastOverlay").dialog("open")
var offset = $(this).offset()

$("#overrideForecastOverlay").parent().css("top", offset.top - 30 + "px")

});

$('#reservation').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
});
$('#reservationPriceVehicleDate').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
});
$('#vender_funding_dates').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);

});

$('#startDate, #endDate').datetimepicker({
pickTime : false
});

});
</script>

<script>
$(document).ready(function() {
/* scrollbars */
$('#overlayBody').enscroll({

showOnHover : true,
verticalTrackClass : 'track3',
verticalHandleClass : 'handle3'
});

$("#forecastTbl").tablesorter({
sortList : [[1, 1]]
});

$('#productHeirarchyTree').sapling();
$('#productAttrTree').sapling();
$('#productGroupHeirarchyTree').sapling();
$('#productGroupAttrTree').sapling();

$('#locationHeirarchyTree').sapling();
$('#locationAttrTree').sapling();

$('.treeLastChild,.sapling-item').click(function() {
$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
$(this).addClass('selectedFilter');

var topCat = $(".sapling-item");

if (!$(this).hasClass("sapling-expanded")) {
topCat.removeClass("selectedFilter")
}
});

$("#prevNoteBtn").click(function() {

$(this).find("span").removeClass("caret").addClass("caretdown")
});

$(".ui-dialog-titlebar-close").click(function() {
$("#prevNoteBtn").find("span").removeClass("caretdown").addClass("caret")
});

$('#selectAll').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox1').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox1').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$('#selectAll2').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox2').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox2').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$('#selectAll3').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox3').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox3').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$(".addProdtoContract").click(function() {
$('.addProdContract').show()
});

function findActiveTab() {
var returnVal;
$(".tabs-left li").each(function(index) {
//  console.log( index + ": " + $( this ).text() );

var checkClass = $(this).hasClass('active')
if (checkClass)
returnVal = index;
});
return returnVal;
}

var leftTab = $(".tabs-left li");
$(".nextBtn").click(function() {
var i = findActiveTab();

leftTab.eq(i + 1).addClass("active")
leftTab.eq(i).removeClass("active")
});
$("#submit_button").click(function() {
$("#version_funding").click();
})
$("#create_tier_form").ajaxForm(function() {
	
});


$("#priceVehicalForm").ajaxForm(function() {
	
});



$(".prevBtn").click(function() {
var i = findActiveTab();

leftTab.eq(i - 1).addClass("active")
leftTab.eq(i).removeClass("active")
});

$('.priceSelector').change(function() {
var id =	$('#'+$(this).val()).parent().parent().attr("id");
$('#'+id+' .priceVehicleGroup').hide();
$('#' + $(this).val()).show(); 
});


$(document).on('click','.addQtyPrice',function(){
var idName = $(this).parent().children().eq(0).attr("id").replace(/[^0-9]/gi, '')
var sib = $(this).parent().children().eq(0)
sib.children(":first").clone().appendTo($("#divContainer" + idName))	
});

$("#noteViewdataTable").tablesorter({
sortList : [[3, 1]]
});

});


</script>

<div id="spinner">
	<img src="../assets/ajaxLoader.GIF" alt="Loading..."/>
</div>
<style>
div#spinner
{
display: none;

position: fixed;
top: 50%;
left: 50%;
text-align:center;
margin-left: -50px;
margin-top: -100px;
z-index:2;
overflow: auto;
}
</style>
<script type="text/javascript">
$('#spinner').ajaxStart(function () {
$(this).fadeIn('fast');
}).ajaxStop(function () {
$(this).stop().fadeOut('fast');
});

</script>

<div id="hiddenDiv" style="display: none"></div>
