<h1>Listing price_grids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price vehicle</th>
      <th>Price rule</th>
      <th>From price</th>
      <th>To price</th>
      <th>Price candidates</th>
      <th>Multiples</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_grids.each do |price_grid| %>
      <tr>
        <td><%= price_grid.name %></td>
        <td><%= price_grid.description %></td>
        <td><%= price_grid.price_vehicle_id %></td>
        <td><%= price_grid.price_rule_id %></td>
        <td><%= price_grid.from_price %></td>
        <td><%= price_grid.to_price %></td>
        <td><%= price_grid.price_candidates %></td>
        <td><%= price_grid.multiples %></td>
        <td><%= price_grid.created_by %></td>
        <td><%= price_grid.updated_by %></td>
        <td><%= link_to 'Show', price_grid %></td>
        <td><%= link_to 'Edit', edit_price_grid_path(price_grid) %></td>
        <td><%= link_to 'Destroy', price_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price grid', new_price_grid_path %>
