<h1>Listing price_rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Marketing vehicle</th>
      <th>Min margin</th>
      <th>Max margin</th>
      <th>Min price change</th>
      <th>Max price change</th>
      <th>Min passthrough</th>
      <th>Max passthrough</th>
      <th>Optimization goal </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_rules.each do |price_rule| %>
      <tr>
        <td><%= price_rule.name %></td>
        <td><%= price_rule.description %></td>
        <td><%= price_rule.marketing_vehicle %></td>
        <td><%= price_rule.min_margin %></td>
        <td><%= price_rule.max_margin %></td>
        <td><%= price_rule.min_price_change %></td>
        <td><%= price_rule.max_price_change %></td>
        <td><%= price_rule.min_passthrough %></td>
        <td><%= price_rule.max_passthrough %></td>
        <td><%= price_rule.optimization_goal  %></td>
        <td><%= link_to 'Show', price_rule %></td>
        <td><%= link_to 'Edit', edit_price_rule_path(price_rule) %></td>
        <td><%= link_to 'Destroy', price_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price rule', new_price_rule_path %>
