<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price_rule.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price_rule.description %>
</p>

<p>
  <strong>Marketing vehicle:</strong>
  <%= @price_rule.marketing_vehicle %>
</p>

<p>
  <strong>Min margin:</strong>
  <%= @price_rule.min_margin %>
</p>

<p>
  <strong>Max margin:</strong>
  <%= @price_rule.max_margin %>
</p>

<p>
  <strong>Min price change:</strong>
  <%= @price_rule.min_price_change %>
</p>

<p>
  <strong>Max price change:</strong>
  <%= @price_rule.max_price_change %>
</p>

<p>
  <strong>Min passthrough:</strong>
  <%= @price_rule.min_passthrough %>
</p>

<p>
  <strong>Max passthrough:</strong>
  <%= @price_rule.max_passthrough %>
</p>

<p>
  <strong>Optimization goal :</strong>
  <%= @price_rule.optimization_goal  %>
</p>

<%= link_to 'Edit', edit_price_rule_path(@price_rule) %> |
<%= link_to 'Back', price_rules_path %>
