<h1>Change Password</h1>

<%= form_for @user, :action=>"reset_password" do |f| %>
  <%= render 'shared/form_error', :object => @user %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>