<div>
<%= form_tag "/users/send_password_reset", :method => :post do %>

 <p> <label>Email:</label><br />
  <%= text_field_tag :email %><br />
</p>
  <%= submit_tag "Reset Password" %>

<% end %>
</div>
