<% if object.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4><%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:</h4>
	  <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
