<%= form_for :custom_attributes , url: { action: "add" } do |f| %>

<table class="table">
	<tr>
		<td><%= f.label :name %></td>
		<td><%= f.text_field :name ,:placeholder => "Enter Name"%></td>
	</tr>
	<tr>
		<td><%= f.label :attribute_type %></td>
		<td><%= f.radio_button :attribute_type, 'Number' ,:checked => true, :id => "attribute"   %>
		<%= f.label :attribute_type, "Number", :value => "Number"%>
		<%= f.radio_button :attribute_type, 'String', :checked => false,:id => "attribute"  %>
		<%= f.label :attribute_type, "String", :value => "String" %>
		<%= f.radio_button :attribute_type, 'NumberList', :checked => false,:id => "attribute"  %>
		<%= f.label :attribute_type, "NumberList", :value => "NumberList" %>
		<%= f.radio_button :attribute_type, 'StringList', :checked => false,:id => "attribute"%>
		<%= f.label :attribute_type, "StringList", :value => "StringList" %> </td>
	</tr>
	<tr>
		<td> <%= f.label :value %> </td>

		<td> <%= f.text_field :value, :id => "Value", :placeholder => "Enter Number" %> </td>

	</tr>

	<tr>
		<td> <%= f.label :description %> </td>
		<td> <%= f.text_area :description , :placeholder => "Add Description" %> </td>
	</tr>

</table>
<%= f.submit class:"btn btn-primary" %>
<% end %>

<script language="JavaScript">
	$(document).ready(function() {

		$(attribute).click(function() {
			var placeholder = "Enter " + this.value + "";
			$(Value).attr('placeholder', placeholder)

		});
	}); 
</script>

