
        <h3 class="list-group">Custom Attributes</h3>
		<table width="120px" id="example" >
			<thead>
				<div class="list-group">
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th>Attribute Type</th>
						<th>Description</th>
				</div>
				</tr>
			</thead>

			<tbody>
				<% @custom_attributes.each do |custom_attribute| %>
				<% if custom_attribute%>
				<tr>
					<td><%= custom_attribute.name %></td>
					<td><%= custom_attribute.value %></td>
					<td><%= custom_attribute.attribute_type%></td>
					<td><%= custom_attribute.description %></td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
		
	<%= link_to 'New custom attribute', new_custom_attribute_path %>
