<div class="panel panel-primary">
	<div class="panel-body">
		<div class="container" >
			<div class="row">
				<div class="col-md-6">
					<%= render '/custom_attributes/form'%>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer"></div>
