<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="list-group">Update Attribute</h1>
	</div>
	<div class="panel-body">
		<div class="container" >
			<div class="row">
				<div class="col-md-6">
					<%= render '/custom_attributes/updateform'%>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer"></div>
