<!-- BO TAB CONTENT -->
<div class="container tab-content tabContentMain">     
 <!-- BO CONTRACT TAB --> 
  <div id="contract" class="container tab-pane active">
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-map-marker"></span> Product Group Management</h1>
    </div>
    <div id="breadcrumbSection">
      <ul class="breadcrumb">
        <li><a href="/product_groups">Product Group Management</a>
        <li class="active">Create a New Product Group</li>
      </ul>
    </div>
  <div class="row">
    <div class="col-md-10  marginTop10">Create a New Product Group</div>
  </div>
  <div class="mainContentTabs">	
    <div class="subTabContent marginTop10" >                      	
      <div class="panel panel-default">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div><!-- EO Sub TAB -->  
</div><!-- EO CONTRACT TAB -->            
    <script>
	
	
	$(document).ready(function() 
    { 

	$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();
		
      $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
	 
		
		
		$('#selectAll').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		
		
		
		
	$('#startDate, #endDate').datetimepicker({
					pickTime: false
	});	
		
	 $("#noteViewdataTable").tablesorter({sortList: [[3,1]]}); 
			
    }); 
	
	
	</script>
