<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_group.description %>
</p>

<p>
  <strong>Product trail:</strong>
  <%= @product_group.product_trail %>
</p>

<p>
  <strong>Product attribute:</strong>
  <%= @product_group.product_attribute %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @product_group.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @product_group.updated_by %>
</p>

<%= link_to 'Edit', edit_product_group_path(@product_group) %> |
<%= link_to 'Back', product_groups_path %>
