<span class="hierarchyHeading">Attributes</span>
<ul id="productAttrTree">
	<% @allProductAttribute.each do |productAttribute| %>

	<li value="<%= productAttribute['id'] %>" id="<%= productAttribute['id'] %>li" name="<%= productAttribute['name'] %>" class="product_attribute">
		<%= productAttribute['name'] %>
		<% @list=productAttribute['value'].split(',')%>
		<ul>
			<% @list.each do |value| %>
			<li class="product_attribute">
				<input type="checkbox" value="<%= value %>">
				<%= value %>
			</li>
			<% end %>
		</ul>
	</li>

	<% end %>
</ul>