<%= form_for(@product_attribute) do |f| %>
  <% if @product_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_attribute.errors.count, "error") %> prohibited this product_attribute from being saved:</h2>

      <ul>
      <% @product_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :custom_attr_id %><br>
    <%= f.text_field :custom_attr_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
