<h1>Listing product_attributes</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Custom attr</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_attributes.each do |product_attribute| %>
      <tr>
        <td><%= product_attribute.product_id %></td>
        <td><%= product_attribute.custom_attr_id %></td>
        <td><%= product_attribute.value %></td>
        <td><%= link_to 'Show', product_attribute %></td>
        <td><%= link_to 'Edit', edit_product_attribute_path(product_attribute) %></td>
        <td><%= link_to 'Destroy', product_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product attribute', new_product_attribute_path %>
