<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_attribute.product_id %>
</p>

<p>
  <strong>Custom attr:</strong>
  <%= @product_attribute.custom_attr_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product_attribute.value %>
</p>

<%= link_to 'Edit', edit_product_attribute_path(@product_attribute) %> |
<%= link_to 'Back', product_attributes_path %>
