<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">  
    <link href="../assets/styledoc.css" rel="stylesheet" type="text/css">
    <link href="../assets/styledoc2.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="loginHeader">
        <div class="loginWrap">
          <div class="loginLogo"></div>
        </div>
    </div>
    <div class="row loginFormWrap">
        <div class="col-md-6">
              <h4>Product promotion and pricing strategies demystified.</h4>
              <p><%= render :partial=> "shared/flash_msg"%></p>
            <div class="loginText">Start here</div>
            <%= form_tag(:action => 'create') do %>
                <div class="form-group">
                  <label for="email">Username</label>
                 <%= text_field_tag :username , nil ,:class => "form-control" %>
                </div>
                <div class="form-group marBtm0">
                  <label for="pwd">Password</label>
                  <%= password_field_tag :password, nil , :class=>"form-control" %>
                </div>
                <!-- <div class="forgotPassLink"><a href="/users/forget_password">Forgot Password?</a></div> -->
                <p></p>
                <button type="submit" class="btn btn-default">Log In</button>
             <% end %>
        </div>
        <div class="col-md-6 loginImg"></div>
        
    </div>

    <div class="footerMain">
      <div class="container footerInside">
         <div class="row">
           <div class="col-md-10"> &copy; 2014 Prognos Inc. All Rights Reserved.</div>
           <div class="col-md-2 footerRight">www.prognosinc.com</div>
         </div>
       
      </div>     
    </div>
</div>
</body>
</html>
