To reset your password click the URL below.

<a href= "/users/change_password?id=<%=@user.password_reset_token%>" ><%= "/users/change_password? id= #{@user.password_reset_token}" %></a>

If you did not request your password to be reset please ignore this email and your password will stay as it is.