@charset "UTF-8";
/* CSS Document */

a{color:#ff6600;}
.clear{ clear:both}


/* Breadcrumb styles */
#breadcrumbSection .breadcrumb{ background:none; border:0; margin-bottom:10px; padding:0;}
#breadcrumbSection .breadcrumb li{ font-size:10px; color:#999898}
#breadcrumbSection .breadcrumb > li + li:before { color: #999898; content: ">"; padding: 0 5px;}

.page-header { margin:0 0 22px 0; padding:0; border:0}
.page-header h1{ font-size:14px; color:#000; margin:0}
.page-header img{ margin:0 8px 0 0}

/* Sub Tab styles */
.mainContentTabs .nav-pills > li{font-size:12px;}
.mainContentTabs .nav-pills > li.active > a, 
.mainContentTabs .nav-pills > li.active > a:hover, 
.mainContentTabs .nav-pills > li.active > a:focus { color:#333333; background: url(../assets/sub_tab_active.png) bottom center no-repeat; outline:none}
.mainContentTabs .nav-pills > li a{padding:0 16px 10px 14px}
.mainContentTabs .nav-pills > li a:hover{ background:none; color:#333333}


.subTabContent{border:1px solid #656565; width:960px; border-radius:4px; min-height:400px; margin-top:-6px; padding:6px 15px 15px 0;  
background-color:#f5f5f5;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f5f5, endColorstr=#fff);
background-image:-moz-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-o-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-ms-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#f5f5f5), color-stop(7%,#fff),color-stop(100%,#fff));

}


/* Form controls styles */

.form-group .control-label{ font-size:11px; font-weight:normal; color:#000;}
 .btn-default{ height:33px; border:0; border-right:2px solid #dbdbdb;border-bottom:1px solid #dbdbdb;  font-family:Tahoma; font-size:12px; color:#656565; padding:0 15px; border-radius: 4px;
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 13%, #f6f6f6 16%, #f8f8f8 72%, #f6f6f6 88%, #f3f3f3 91%, #dedede 94%, #cccccc 97%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(13%,#f9f9f9), color-stop(16%,#f6f6f6), color-stop(72%,#f8f8f8), color-stop(88%,#f6f6f6), color-stop(91%,#f3f3f3), color-stop(94%,#dedede), color-stop(97%,#cccccc), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */}

.form-group span.small{ font-size:10px; color:#666666; padding-left:3px;}

.form-group textarea{font-size:11px}
.form-group .col-md-2{ padding-left:0px}
.form-group .btn-xs, .form-group .dropdown-toggle.btn-default { font-size:10px; color:#ff6600;  border:1px solid #b0b0b0; border-bottom:0px;border-radius:0; border-bottom-left-radius:5px; border-bottom-right-radius:5px; background: #f3f3f3; box-shadow:none; height:16px; width:100%; line-height:0;  box-shadow: 0px 0.5px 1px #d4d4d4;
background: -moz-linear-gradient(top,  #f3f3f3 0%, #fefefe 8%, #f9f9f9 15%, #f9f8f6 23%, #eae4e4 77%, #e7e3e4 85%, #cbc7c8 92%, #d6d2d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(8%,#fefefe), color-stop(15%,#f9f9f9), color-stop(23%,#f9f8f6), color-stop(77%,#eae4e4), color-stop(85%,#e7e3e4), color-stop(92%,#cbc7c8), color-stop(100%,#d6d2d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d6d2d3',GradientType=0 ); /* IE6-9 */

}
.form-group .caret{color:#ff7710; font-size:11px; }
.form-group .caretdown { border-bottom: 4px solid #ff7710; border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; height: 0;width: 0;
}
.form-group .btn-group, .form-group .dropdown-menu{width:100%}
.btnAlign{ text-align:right; margin-top:10px}
.btnAlign button:first-child{ margin-right:10px;}

.subTabContent .panel{ background:none; margin:10px 0px 0 0; border:none; box-shadow:none; border-radius:0}
.subTabContent .panel-default > .panel-heading { color:#333333; background:none; border:none;}
.subTabContent .panel-default > .panel-heading .panel-title{ font-size:14px;}
.subTabContent .panel-default .panel-body{ padding-top:0; padding-right:0;}
.subTabContent .panel-default .panel-body .col-md-2, .subTabContent .panel-default .panel-body .col-md-10{ padding:0;}
.subTabContent .panel-default .panel-body .col-md-2{width:17.667%}
.subTabContent .panel-default .panel-body .col-md-10{width:82.333%; margin-top:2px;}

.subTabContent .panel-default .panel-body .tabs-left{ border:0;}
.subTabContent .panel-default .panel-body .nav-tabs > li{ margin:0}

.subTabContent .panel-default .panel-body .nav-tabs > li > a{ border:0; border-bottom:1px dashed #fab383; padding:7px 10px;  border-radius:0; font-size:12px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 13%, #fffaf4 32%, #fef9f3 34%, #fff9ef 34%, #fff7ee 40%, #fef5e4 48%, #fff2e1 55%, #feedd1 68%, #ffecd3 70%, #ffeccc 73%, #feeac9 79%, #ffe7c1 83%, #ffe6c3 85%, #fde1b1 98%, #ffdfb2 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(13%,#ffffff), color-stop(32%,#fffaf4), color-stop(34%,#fef9f3), color-stop(34%,#fff9ef), color-stop(40%,#fff7ee), color-stop(48%,#fef5e4), color-stop(55%,#fff2e1), color-stop(68%,#feedd1), color-stop(70%,#ffecd3), color-stop(73%,#ffeccc), color-stop(79%,#feeac9), color-stop(83%,#ffe7c1), color-stop(85%,#ffe6c3), color-stop(98%,#fde1b1), color-stop(100%,#ffdfb2)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* IE10+ */

background: linear-gradient(to right,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffdfb2',GradientType=1 ); /* IE6-9 */

}
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a, 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a:hover, 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a:focus { background:#ff6600; border:0;   color:#fff; border-radius:4px 0px 0px 5px}
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li > a:hover{ color:#8a8a8a} 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li > a > i.glyphicon{ top:-1px; float:right; margin-right:-2px; font-size:16px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection{ border:15px solid #ff6600; padding:10px}
.subTabContent .panel-default .panel-body .tab-content .innerSection h2{ color:#333333; font-size:12px; font-weight:bold; margin-top:0; padding:0 0 0 5px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs{ border:0;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li{font-size:11px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li > a{ padding:0px 30px 10px 5px; border:0; font-size:11px; background:none}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a, 
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a:hover, 
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a:focus{ color:#333333; background: url(../assets/innerSecTabActive.jpg) bottom center no-repeat; outline:none}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li a:hover{ background:none; color:#333333}
.subTabContent .panel-default .panel-body .tab-content .innerSection .btnBrd{ background:url(../assets/innerSecBdr.jpg) top left no-repeat; height:5px; width:391px; margin:-10px 0 20px 0}
	
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content { padding-left:5px}
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .right-inner-addon{width:200px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .form-control{ border-radius:0; font-size:10px; color:#666; line-height:26px; height:26px;  padding:0 0 0 5px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 0%, #fdfefe 57%, #f7f6f7 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#fdfefe), color-stop(100%,#f7f6f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f7',GradientType=0 ); /* IE6-9 */

}
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-default, 
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-default:hover,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-default:focus,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-default:active
{ border:1px solid #cccccc; border-left:0; border-radius:0;  height:26px; color:#000; font-size:14px; background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 0%, #fdfefe 57%, #f7f6f7 100%)!important; /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#fdfefe), color-stop(100%,#f7f6f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f7',GradientType=0 ); /* IE6-9 */

}

.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .navbar-form{ padding:0}

.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:hover,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:focus,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:active
{ background:none; font-size:11px; color:#ff9900; border:0; box-shadow:none; padding:0}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab{ border:0; }
.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab li:first-child{ border-left:1px solid #ccc; border-top-left-radius:3px; border-bottom-left-radius:3px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li{list-style:none; font-size:11px; display:inline-block; padding:0px 0 4px 10px; border:0; font-size:11px; color:#666666;  height:20px;
background: #cccccc; margin-right:0px; line-height:18px; float:left; margin-bottom:17px; /* Old browsers */

background: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 5%, #fbfbfb 16%, #efefef 37%, #dcdcdc 63%, #cccccc 95%, #f5f5f5 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(5%,#ffffff), color-stop(16%,#fbfbfb), color-stop(37%,#efefef), color-stop(63%,#dcdcdc), color-stop(95%,#cccccc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* IE10+ */

background: linear-gradient(to bottom,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li > span{background: url(../assets/categorySep.png) top right no-repeat; width:14px; height:19px; display:inline-block; margin-left:15px; float:right}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li:last-child > span{background: url(../assets/categorySepLast.png) top right no-repeat; height:20px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab{ margin-bottom:16px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .col-md-8{padding:0 5px 0 0; width:66.667%; margin-top:10px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .col-md-4 { width:31.333%;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryContent{padding:0; clear:both }
.subTabContent .panel-default .panel-body .tab-content .innerSection .paginPad{padding:10px; text-align:right}

.categoryTable th{ background:#f2f2f2; font-size:12px; color:#000;}
.categoryTable th:first-child{ width:7%}
.categoryBtn{ margin-top:10px;}
 .categoryBtn button {border-radius:5px; border:0px; padding:10px 25px; font-size:12px; color:#333; background: #f0f0f0; margin:5px 5px 0 5px; /* Old browsers */

background: -moz-linear-gradient(top,  #f0f0f0 0%, #ececec 10%, #e4e4e4 16%, #e4e4e4 84%, #dfdfdf 87%, #d0d0d0 90%, #adadad 97%, #adadad 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(10%,#ececec), color-stop(16%,#e4e4e4), color-stop(84%,#e4e4e4), color-stop(87%,#dfdfdf), color-stop(90%,#d0d0d0), color-stop(97%,#adadad), color-stop(100%,#adadad)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */

}

.categoryNext button{border:0px; font-size:14px; color:#333; line-height:37px; background:url(../assets/nextBtn.png) top left no-repeat; width:132px; height:37px; }
.categoryNext{margin-top:30px;}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .subTabContent{margin-top:-5px;}
 
 .subTabContent .panel-default .panel-body .tab-content .innerSection .btnBrd { margin-top:-9px} 
}

.right-inner-addon {
    position: relative; float:left; margin-right:5px;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 5px 12px;
    pointer-events: none;
}

#prevNotesOverlay{ margin-top:304px}
