@charset "UTF-8";
/* CSS Document */

/* Ad Management styles */

#adMgmt .birdEyeTablefilter{ padding-left:7px; margin-bottom:20px;}
#adMgmt #graphView .birdEyeTablefilter{ padding-left:15px; margin:15px 0;}
#adMgmt .glyphicon-bullhorn{ font-size:20px; top:5px;}

.glyphicon-stop{ font-size:15px; top:3px;}
.glyphicon-stop.red{ color:red}
.glyphicon-stop.green{ color:rgb(4, 189, 4)}

.subTabContent a {text-decoration: none;font-size: 11px;color: #ff9900;}

/* Modal window styles */
.ui-dialog{ background:none; border:0}
.ui-dialog .ui-widget-header{ background:none; border:0}
.ui-dialog .ui-state-default, .ui-dialog .ui-widget-content .ui-state-default, .ui-dialog .ui-widget-header .ui-state-default { background:url(../assets/closePopup.png) top right no-repeat; border:0;margin-top:5px;  z-index:122; width:30px; height:30px; right:-3px;}
.ui-dialog  .ui-state-default .ui-icon{ background:none}
.ui-dialog .ui-button-icon-only .ui-button-text{ text-indent:9999px}

.ui-dialog .ui-dialog-content {background-color:#999999; width:100%; text-align:right;  padding:15px; background: rgba(51,51,51,0.7); text-align:left; height:auto!important}
.ui-dialog .ui-dialog-content .customizeColOverlay{ width:auto}

.overlayContent #action_list{padding:10px}
.overlayContent #action_list li{ list-style-type:none; padding:5px;}
.overlayContent #action_list li a, .overlayContent a{ color:#F90}
.ui-widget button{ font-size:12px}

/* Contract page pricing vehicle style*/
.priceMultipleOpt table input[type="text"], #progressiveOpt table input[type="text"]{ width:20%; display:inline}
.bogoOffer{ margin-top:15px;}
.bogoOffer input[type="text"]{ width:5%; display:inline}
.bogoOffer select{ width:12%; display:inline}
.progressiveOpt .glyphicon-plus-sign{ color:#ff9900; cursor:pointer}
.progressiveOpt .qtyPriceDiv{ margin-top:10px}
.progressiveOpt .divContainer{ display:inline-block}
.custPricingOpt .col-md-4{ padding:0}
.bogaOpt .row{ margin:10px; font-size: 11px;font-weight: normal;color: #000;}
.bogaOpt .row select{ font-size: 11px;font-weight: normal;color: #000; padding:5px; width:130px;}
.bogaOpt .row .col-md-2{margin-top:40px}
.bogaOpt .row:last-child{margin:20px 0 0 0;}
.bogaOpt .row .cold-md-3 .row .col-md-10{padding:0}

/* Tree style*/
.sapling-item.selectedFilter{ color:#fff}
.sapling-item.selectedFilter ul li{ color:#000}
.overlayContent .productFilterTreeDiv > UL > LI {font-size: 11px;color: #333;padding: 5px;}

.right-inner-addon, .right-inner-addon input{width:200px}
.productFilterSearch input, .productFilterSearch { width:180px;}


/* Compare Main Trial styles*/

.compareRightBtn{margin-right: 185px;margin-top: -18px;}
.heading h2{font-size: 14px;color: #333333;padding-bottom: 10px; margin:0}
#compareMainTrial{ padding:10px}
#compareTrialDialog li{ list-style-type:none;}

/* Create Trial styles */
.cancelText{ margin-left:180px;}
.glyphicon-trash{ top:-5px; left:-2px; font-size:11px; color:#333}

/* Contracts Main styles */
.contractInfo{ margin:20px 0}
.contractInfo .row{ padding:10px 15px 0 0; margin-left:0px}
.contractInfo .greyBg{ background:#f2f2f2}
.accordianBody, .newContractActionBar{ margin-left:15px;}
.accordianBody:first-child{ margin-bottom:15px;}
.accordianHeader a{ color:#000; font-size:14px;}
.birdEyeTablefilter{ margin:15px} 

/* New Contract from Scratch - version tab - add new zone */
.addNewSection{ border-top:1px solid #CCC;  margin: 10px 0; padding: 10px 0;}

.addNewSection .btn-danger,
.addNewSection .btn-danger:hover,
.addNewSection .btn-danger:focus,
.addNewSection .btn-danger:active
{ background:none; font-size:11px; color:#ff9900; border:0; box-shadow:none; padding:0}

.addNewSection #allCol{ width:200px;}
.addNewSection .multiSelect{ font-size:11px; margin-top:10px;}

.addNewSection #allColHier, #allStores, #versionStore{ width:100%;}
.addNewSection .masterList .right-inner-addon, .addNewSection .masterList .right-inner-addon input, .masterList .right-inner-addon input{ width:160px!important}
.addNewSection .width30{ width:30%}

#accordionVersion .accordianHeader > a{color:#000; font-size:12px}
#accordionVersion .accordion-inner{padding:0 10px 10px 10px;}
#accordionVersion .accordion-inner .multiSelect{ width:100%}

/* Event Management styles */

h6.eventCrumbsMar{ margin:2px 5px 0 0 }
.padBtm10{ padding-bottom:10px}
.valignBtm{ vertical-align:bottom}
h2.heading{ color:#333333; font-size:12px; font-weight:bold; margin-top:0; padding:0;}
.glyphicon-calendar{ cursor:pointer}

/* Product group mgmt styles */
.prodGroupMgmt .page-header{ margin:0}

.subTabContent .panel-default .panel-body .tab-content .innerSection.noBdr{ border:0; padding:10px 0 0;}
.productFilterTreeDiv{ padding-left:5px;}

.contentSpace{ margin-top:10px; padding:15px;}

.sectionBdr{ border-top:1px solid #CCC; margin:0 2px; padding-bottom:15px;}

.sectionBdr .heading{ padding-left:18px; margin:20px 0}

.reset {
width: 200px;
padding-top: 2px;
text-align: right;
font-family: Tahoma;
font-size: 12px;

}

.margin0{ margin:0!important}
.btn-link, .btn-link:hover, .btn-link:focus{text-decoration: none;color: #ff9900;}

.topNavigation .list-inline > li{ width:110px; line-height:10px;}
.topNavigation .list-inline > li span{ padding-left:18px;}

/* login page styles */

.loginHeader{ background:url(../assets/loginHeadBg.png) top left repeat-x; height:61px}
.loginWrap{ width:960px; margin:0 auto; padding-top:10px;}
.loginLogo{background:url(../assets/loginLogo.png) top left no-repeat; width:132px; height:42px;}
.loginFormWrap{ border:1px solid #cccccc; border-radius:5px;  width:960px; margin:30px auto; }
.loginImg{ background: url(../assets/loginImg.png) top right no-repeat; width:479px; height:321px;}
.loginText{ font-size:14px; color:#666666; border-bottom:1px dashed #cccccc; margin:25px 0;}
.loginFormWrap label{font-size:14px; color:#666666; font-weight:normal}
.forgotPassLink{ margin-bottom:30px}
.forgotPassLink a{ color:#ff9900; font-size:12px;}
.loginFormWrap .btn-default{ background:url(../assets/loginBtnBg.png) top left repeat-x; height:33px; color:#000000; font-size:14px; width:96px;}
.loginFormWrap .form-control{width:220px;}
.loginFormWrap .col-md-6:first-child{ padding:6px 0 0 20px}



table#grploctable tbody td {
/*color: #3D3D3D;
padding: 4px;
padding-left: 10px;
background-color: #FFF;
*/vertical-align: top;
border: 0px solid #cccccc;
/*height: 28px;*/
}