@charset "utf-8";
/* CSS Document */
.col1{margin-top:15px; border:solid 1px #666666; border-radius:10px 0px 0px 10px; margin-left:10px;}
.eventproject{font-family:Tahoma; font-size:14px; color:#666666;}
.techSpec{ padding:0px; margin-top:3px;}
.export{font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-bottom:10px;}
.col2 {margin-top:15px; border:solid 1px #666666; border-radius:0px 10px 10px 0px; margin-left:10px; height:100px; display:inline;}
.eventname{ margin-top:3px; list-style:none; font-family:Tahoma; font-size:12px; margin-left:15px; padding:0px;}
.eventinputname { margin-top:3px; list-style:none; font-family:Tahoma; font-size:12px;}
.space{margin-top:10px;}
.productscoptree{border:solid 1px #333333; margin-top:20px;}
/*.date{border:1px solid #FF0000; height:20px;}*/
.eveContent{border:1px solid #656565; width:960px; border-radius:4px; min-height:400px; margin-top:-6px; padding:6px 15px 15px 0;}
.panel{ border:15px solid #ff6600; padding:10px}
.reset{ width:200px; padding-top:2px; text-align:right; font-family:Tahoma; font-size:12px; color:#000000;}
.subTabContent .panel-default .newpanel{ border:0px solid #000000 ; padding:10px}
.search{margin-top:10px;}
.productbyHeirarchyTreeDiv{ width:200px; height:225px; border:1px solid #999999; margin-top:20px; padding:5px; overflow:auto;}
.productbyHeirarchyTreeDiv > UL > LI { font-size:11px; color:#333333; padding:5px;}
.showall{font-family:Tahoma; color:#000000;}
.text{margin-left:2px; text-align:right;}
.textfield{width:200px; margin-left:15px;}
.newsubTabContent{ margin-top:15px;}
.firsttext{text-align:center; font-family:Tahoma; font-size:12px; color:#000000;}

