<h1>Listing event_managements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Created by</th>
      <th>Product scope trail</th>
      <th>Location scope trail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_managements.each do |event_management| %>
      <tr>
        <td><%= event_management.name %></td>
        <td><%= event_management.description %></td>
        <td><%= event_management.start_date %></td>
        <td><%= event_management.end_date %></td>
        <td><%= event_management.created_by %></td>
        <td><%= event_management.product_scope_trail %></td>
        <td><%= event_management.location_scope_trail %></td>
        <td><%= link_to 'Show', event_management %></td>
        <td><%= link_to 'Edit', edit_event_management_path(event_management) %></td>
        <td><%= link_to 'Destroy', event_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event management', new_event_management_path %>
